In [ ]:
import pandas as pd
import requests
import numpy as np
from datetime import datetime as dt
from bs4 import BeautifulSoup as BS
from time import sleep
from random import randint
import regex as re
from IPython.core.display import HTML

In [ ]:
#url for 2018 cost of living index
URL_2018 = 'https://www.numbeo.com/cost-of-living/region_rankings.jsp?title=2018&region=021'

#response
resp_18 = requests.get(URL_2018)

In [ ]:
#checking response status code
resp_18.status_code

In [ ]:
#making soup of resp_18
soup_18 = BS(resp_18.text)

In [ ]:
#looking at soup
soup_18

In [ ]:
#looking at prettified soup
print(soup_18.prettify())

In [ ]:
#finding all tables
soup_18.find_all('table')

In [ ]:
#looking at how many tables
len(soup_18.find_all('table'))

In [ ]:
#looking at table
tab_18_html = str(soup_18.find('table', attrs = {'id':'t2'}))

HTML(tab_18_html)

In [ ]:
#reading table is as html and converting to a dataframe
coli_2018 = pd.read_html(str(soup_18.find('table', attrs = {'id':'t2'})))[0]
coli_2018.head()

In [ ]:
#adding year column
coli_2018['year'] = 2018
coli_2018.head()

In [ ]:
#url for 2019 coli
url_2019 = 'https://www.numbeo.com/cost-of-living/region_rankings.jsp?title=2019&region=021'

#2019 response

resp_19 = requests.get(url_2019)

In [ ]:
#status code check
resp_19.status_code

In [ ]:
#2019 soup
soup_19 = BS(resp_19.text)

In [ ]:
#soup check
soup_19

In [ ]:
#reading table is as html and converting to a dataframe
coli_2019 = pd.read_html(str(soup_19.find('table', attrs = {'id':'t2'})))[0]
coli_2019.head()

In [ ]:
#adding year column
coli_2019['year'] = 2019
coli_2019.head()

In [ ]:
#url for 2020 coli
url_2020 = 'https://www.numbeo.com/cost-of-living/region_rankings.jsp?title=2020&region=021'

#2020 response

resp_20 = requests.get(url_2020)

In [ ]:
#status code check
resp_20.status_code

In [ ]:
#turning 2020 response to soup
soup_20 = BS(resp_20.text)

In [ ]:
#soup check
soup_20

In [ ]:
#reading table is as html and converting to a dataframe
coli_2020 = pd.read_html(str(soup_20.find('table', attrs = {'id':'t2'})))[0]
coli_2020.head()

In [ ]:
#adding year column
coli_2020['year'] = 2020
coli_2020.head()

In [ ]:
#url for 2021 coli
url_2021 = 'https://www.numbeo.com/cost-of-living/region_rankings.jsp?title=2021&region=021'

#2021 response

resp_21 = requests.get(url_2021)

In [ ]:
#status code check
resp_21.status_code

In [ ]:
#turning 2020 response to soup
soup_21 = BS(resp_21.text)

In [ ]:
#soup check
soup_21

In [ ]:
#reading table is as html and converting to a dataframe
coli_2021 = pd.read_html(str(soup_21.find('table', attrs = {'id':'t2'})))[0]
coli_2021.head()

In [ ]:
#adding year column
coli_2021['year'] = 2021
coli_2021.head()

In [ ]:
#url for 2022 coli
url_2022 = 'https://www.numbeo.com/cost-of-living/region_rankings.jsp?title=2022&region=021'

#2021 response

resp_22 = requests.get(url_2022)

In [ ]:
#status code check
resp_22.status_code

In [ ]:
#turning 2020 response to soup
soup_22 = BS(resp_22.text)

In [ ]:
#soup check
soup_22

In [ ]:
#reading table is as html and converting to a dataframe
coli_2022 = pd.read_html(str(soup_22.find('table', attrs = {'id':'t2'})))[0]
coli_2022.head()

In [ ]:
#adding year column
coli_2022['year'] = 2022
coli_2022.head()