In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from datetime import datetime as dt
import plotly.express as px
import requests
from bs4 import BeautifulSoup as BS
from IPython.core.display import HTML

%matplotlib inline

In [ ]:
atl_crime = pd.read_csv('../data/atl_crime.csv')
atl_crime.head()

In [ ]:
nash_crime = pd.read_csv('../data/nash_crime.csv')
nash_crime.head()

In [ ]:
austin_crime = pd.read_csv('../data/austin_crime.csv')
austin_crime.head()

In [ ]:
#add city column
atl_crime['city'] = 'Atlanta'

#pulling out relavent columns
atl_crime = atl_crime.loc[:,[ 'city','OccurDate', 'UCRLiteral', 'Latitude', 'Longitude', 'geometry']]


atl_crime.head()

In [ ]:
#add city column
nash_crime['city'] = 'Nashville'

#pulling out relavent columns
nash_crime = nash_crime.loc[:,['city','Incident Occurred','Latitude', 'Longitude', 'ZIP Code',
                               'Offense Description','Mapped Location']]

nash_crime.head()

In [ ]:
#adding city column
austin_crime['city'] = 'Austin'

#pulling out relavent columns
austin_crime = austin_crime.loc[:,[ 'city','Highest Offense Description','Occurred Date', 
                                    'Latitude','Longitude', 'Location' ]]
austin_crime.tail()

In [ ]:
#creating date and time column
atl_crime[['date','time']]=atl_crime['OccurDate'].str.split(' ',1,expand = True)
atl_crime.head()

In [ ]:
#creating date and time column
nash_crime[['date','time']]=nash_crime['Incident Occurred'].str.split(' ',1,expand = True)
nash_crime.head()

In [ ]:
#renaming columns
atl_crime = atl_crime.rename(columns = {'UCRLiteral':'incident','Latitude': 'lat','Longitude':'lng'})

#reordering
atl_crime = atl_crime.loc[:,[ 'city','date', 'incident']]

#formatting date column to datetime
atl_crime['date']= pd.to_datetime(atl_crime['date'])

#pulling from 2018 to present
atl_crime = atl_crime.loc[atl_crime['date']>='2018-01-01'].reset_index(drop=True)

atl_crime.head()

In [ ]:
#renaming columns
nash_crime = nash_crime.rename(columns = {'Offense Description':'incident','Latitude': 'lat','Longitude':'lng'})

#reordering
nash_crime = nash_crime.loc[:,[ 'city','date', 'incident']]

#formatting date column to datetime
nash_crime['date']= pd.to_datetime(nash_crime['date'])

#pulling from 2018 to present
nash_crime = nash_crime.loc[nash_crime['date']>='2018-01-01'].reset_index(drop=True)

nash_crime.head()

In [ ]:
#renaming columns
austin_crime = austin_crime.rename(columns = {'Highest Offense Description':'incident','Latitude': 'lat','Longitude':'lng',
                                              'Occurred Date':'date'})

#reordering
austin_crime = austin_crime.loc[:,[ 'city','date', 'incident']]

#formatting date column to datetime
austin_crime['date']= pd.to_datetime(austin_crime['date'])

#pulling from 2018 to present
austin_crime = austin_crime.loc[austin_crime['date']>='2018-01-01'].reset_index(drop=True)

austin_crime.head()

In [ ]:
atl_crime_counts = atl_crime['incident'].value_counts().to_frame().reset_index().rename(columns = {'index':'incident','incident':'count'})
atl_crime_counts

In [ ]:
nash_crime_counts = nash_crime['incident'].value_counts().to_frame().reset_index().rename(columns = {'index':'incident','incident':'count'}).head(20)
nash_crime_counts

In [ ]:
austin_crime_counts = austin_crime['incident'].value_counts().to_frame().reset_index().rename(columns = {'index':'incident','incident':'count'}).head(20)
austin_crime_counts

In [ ]:
all_crimes = pd.concat([atl_crime,nash_crime,austin_crime]).reset_index(drop=True)

all_crimes['incident'] = all_crimes['incident'].str.upper()
all_crimes.head()

In [ ]:
all_crimes.to_csv('../data/cleaned/crime/all_crimes.csv')

In [ ]:
atl_09_19 = pd.read_csv('../data/atl_crime_09_19.csv')
atl_09_19.head()

In [ ]:
atl_20 = pd.read_csv('../data/atl_crime_20.csv')
atl_20.head()

In [ ]:
atl_21 = pd.read_csv('../data/atl_crime_21.csv')
atl_21.head()

In [ ]:
atl_22 = pd.read_csv('../data/atl_crime_22.csv')
atl_22.head()

In [ ]:
atl_09_19.columns

In [ ]:
#rename columns
atl_09_19 = atl_09_19.rename(columns = {'UCR Literal':'incident','Occur Date':'date'})

#convert to datetime
atl_09_19['date']= pd.to_datetime(atl_09_19['date'])

#set date format
atl_09_19['date'] = atl_09_19['date'].dt.strftime('%Y-%m-%d')
atl_09_19.head()

In [ ]:
#convert to datetime
atl_20['occur_date']= pd.to_datetime(atl_20['occur_date'],errors='coerce')

#convert format of date
atl_20['occur_date'] = atl_20['occur_date'].dt.strftime('%Y-%m-%d')

#drop na date values
atl_20 = atl_20.dropna(subset = ['occur_date'])
atl_20.head()

In [ ]:
#convert to datetime
atl_21['occur_date']= pd.to_datetime(atl_21['occur_date'])

#convert format
atl_21['occur_date'] = atl_21['occur_date'].dt.strftime('%Y-%m-%d')
atl_21.head()

In [ ]:
#convert to datetime
atl_22['occur_date']= pd.to_datetime(atl_22['occur_date'])

#convert date format
atl_22['occur_date'] = atl_22['occur_date'].dt.strftime('%Y-%m-%d')
atl_22.head()

In [ ]:
#add city column
atl_09_19['city'] = 'Atlanta'


#reordering
atl_09_19 = atl_09_19.loc[:,[ 'city','date', 'incident']]

#update timeframe
atl_18_19 = atl_09_19.loc[atl_09_19['date']>='2018-01-01']


atl_18_19.head()

In [ ]:
#add city column
atl_20['city'] = 'Atlanta'

#renaming columns
atl_20 = atl_20.rename(columns = {'UC2_Literal':'incident','occur_date':'date'})

#reordering
atl_20 = atl_20.loc[:,[ 'city','date', 'incident']]


atl_20.head()

In [ ]:
atl_20.info()

In [ ]:
#add city column
atl_21['city'] = 'Atlanta'

#renaming columns
atl_21 = atl_21.rename(columns = {'UC2_Literal':'incident','occur_date':'date'})

#reordering
atl_21 = atl_21.loc[:,[ 'city','date', 'incident']]


atl_21.head()

In [ ]:
#add city column
atl_22['city'] = 'Atlanta'

#renaming columns
atl_22 = atl_22.rename(columns = {'UC2_Literal':'incident','occur_date':'date'})

#reordering
atl_22 = atl_22.loc[:,[ 'city','date', 'incident']]


atl_22.head()

In [ ]:
#concat atl crime and atl 22 crime
atl_crime = pd.concat([atl_crime,atl_22])

#drop na date values
atl_crime = atl_crime.dropna(subset = ['date'])

#convert date column to datetime
atl_crime['date'] = pd.to_datetime(atl_crime['date'])

#set time parameter
atl_crime = atl_crime.loc[atl_crime['date']>='2018-01-01']

atl_crime.head()

In [ ]:
#concat atl crime and atl 22 crime
atl_crime_2 = pd.concat([atl_18_19,atl_20,atl_21,atl_22])

#convert date column to datetime
atl_crime_2['date'] = pd.to_datetime(atl_crime_2['date'])

#set time parameter
#atl_crime_2 = atl_crime_2.loc[atl_crime_2['date']>='2018-01-01']

atl_crime_2.head()

In [ ]:
atl_crime.info()

In [ ]:
atl_crime_2.info()

In [ ]:
all_crime = pd.concat([atl_crime,nash_crime,austin_crime]).reset_index(drop=True)

all_crime['incident'] = all_crime['incident'].str.upper()
all_crime.head()

In [ ]:
all_crime_2 = pd.concat([atl_crime_2,nash_crime,austin_crime]).reset_index(drop=True)

all_crime_2['incident'] = all_crime_2['incident'].str.upper()
all_crime_2.head()

In [ ]:
all_crime.info()

In [ ]:
all_crime_2.info()

In [ ]:
all_crime.to_csv('../data/cleaned/crime/all_crime_act.csv')

In [ ]:
all_crime_2.to_csv('../data/cleaned/crime/crime_act.csv')

In [ ]:
#url for crime rate table from wikipedia
url_wiki= 'https://en.wikipedia.org/wiki/List_of_United_States_cities_by_crime_rate#:~:text=Crime%20rates%20%20%20%20State%20%20,%20%209.12%20%2011%20more%20rows%20'

#wiki response
resp_wk = requests.get(url_wiki)

In [ ]:
#status check
resp_wk.status_code

In [ ]:
soup_wk = BS(resp_wk.text)

In [ ]:
soup_wk

In [ ]:
#reading table is as html and converting to a dataframe
crime_rates = pd.read_html(str(soup_wk.find('table', attrs = {'class':'wikitable'})))[0]
crime_rates.head()

In [ ]:
#save to csv
crime_rates.to_csv('../data/crime_rates.csv',index= False)

In [ ]:
#pull back in to remove extra headers
crime_rates = pd.read_csv('../data/crime_rates.csv', header= [2])
crime_rates.head()

In [ ]:
#pulling out relavent cities
crime_rates = crime_rates.loc[(crime_rates['City']=='Atlanta')|
                              (crime_rates['City']=='Austin')|
                              (crime_rates['City']=='Nashville')].reset_index(drop=True)
crime_rates

In [ ]:
crime_rates.columns

In [ ]:
#separating out violent crimes
violent_crimes = crime_rates.loc[:,['State', 'City','Murder andNonnegligentmanslaughter', 'Rape1', 'Robbery',
                                    'Aggravatedassault', 'Total.1']].rename(columns = {'Total.1':'total',
                                                                                       'Murder andNonnegligentmanslaughter':'murder',
                                                                                       'Rape1':'rape',
                                                                                       'Aggravatedassault':'assault'})
violent_crimes

In [ ]:
#separating out nonviolent crimes
nonviolent_crimes = crime_rates.loc[:,['State','City','Burglary', 'Larceny-theft',
                                       'Motorvehicletheft', 'Total.2']].rename(columns = {'Total.2':'total'})
nonviolent_crimes

In [ ]:
#melting DF
vc = pd.melt(violent_crimes, id_vars=['State','City'], var_name='crime', value_name='crime_rate')
vc

In [ ]:
#melting DF
nvc = pd.melt(nonviolent_crimes, id_vars=['State','City'], var_name='crime', value_name='crime_rate')
nvc

In [ ]:
#url for crime rate table from numbeo
url_cri_20= 'https://www.numbeo.com/crime/region_rankings.jsp?title=2020-mid&region=021'

#cri 2020 response
resp_cri_20 = requests.get(url_cri_20)

In [ ]:
#status check
resp_cri_20.status_code

In [ ]:
cri_20_soup=BS(resp_cri_20.text)

In [ ]:
cri_20 = pd.read_html(str(cri_20_soup.find('table', attrs={'id':'t2'})))[0]
cri_20

In [ ]:
#adding year column
cri_20['year'] = 2020
cri_20.head()

In [ ]:
#url for crime rate table from numbeo
url_cri_21= 'https://www.numbeo.com/crime/region_rankings.jsp?title=2021-mid&region=021'

#cri 2020 response
resp_cri_21 = requests.get(url_cri_21)

In [ ]:
#status check
resp_cri_21.status_code

In [ ]:
cri_21_soup=BS(resp_cri_21.text)

In [ ]:
cri_21 = pd.read_html(str(cri_21_soup.find('table', attrs={'id':'t2'})))[0]
cri_21

In [ ]:
#adding year column
cri_21['year'] = 2021
cri_21.head()

In [ ]:
#url for crime rate table from numbeo
url_cri_22= 'https://www.numbeo.com/crime/region_rankings.jsp?title=2022-mid&region=021'

#cri 2020 response
resp_cri_22 = requests.get(url_cri_22)

In [ ]:
#status check
resp_cri_22.status_code

In [ ]:
cri_22_soup=BS(resp_cri_22.text)

In [ ]:
cri_22 = pd.read_html(str(cri_22_soup.find('table', attrs={'id':'t2'})))[0]
cri_22

In [ ]:
#adding year column
cri_22['year'] = 2022
cri_22.head()

In [ ]:
#pulling out relevant cities
cri_20 = cri_20.loc[(cri_20['City'] == 'Austin, TX, United States')| 
                     (cri_20['City'] == 'Atlanta, GA, United States')|
                     (cri_20['City'] == 'Nashville, TN, United States')].reset_index(drop=True)

cri_20

In [ ]:
#pulling out relevant cities
cri_21 = cri_21.loc[(cri_21['City'] == 'Austin, TX, United States')| 
                     (cri_21['City'] == 'Atlanta, GA, United States')|
                     (cri_21['City'] == 'Nashville, TN, United States')].reset_index(drop=True)

cri_21

In [ ]:
#pulling out relevant cities
cri_22 = cri_22.loc[(cri_22['City'] == 'Austin, TX, United States')| 
                     (cri_22['City'] == 'Atlanta, GA, United States')|
                     (cri_22['City'] == 'Nashville, TN, United States')].reset_index(drop=True)

cri_22

In [ ]:
#concatenating all crime rate index tables togather
crime_index= pd.concat([cri_20,cri_21,cri_22]).reset_index(drop=True)

#splitting up city column
crime_index[['city','state','country']] = crime_index['City'].str.split(', ', expand=True)

#pulling out relavent columns
crime_index = crime_index.loc[:,['city','year','Crime Index','Safety Index']]

crime_index

In [ ]:
crime_index.to_csv('../data/cleaned/crime/crime_index.csv')

In [ ]:
vc.to_csv('../data/cleaned/crime/violent_crimes.csv')

In [ ]:
nvc.to_csv('../data/cleaned/crime/nonviolent_crimes.csv')