In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from datetime import datetime as dt
import plotly.express as px


%matplotlib inline

In [ ]:
#Pulling in zillow inventory csv
inventory = pd.read_csv('../data/zillow_inventory.csv')

In [ ]:
inventory.head()

In [ ]:
#pulling in average list price csv
list_price = pd.read_csv('../data/zillow_list_and_sales_price.csv')

In [ ]:
list_price.head()

In [ ]:
#pulling in sales count csv
sales_count = pd.read_csv('../data/zillow_sales_count.csv')

In [ ]:
sales_count.head()

In [ ]:
#pulling sales counts for Atlanta
atl_sales_count = sales_count.loc[sales_count['RegionName']=='Atlanta, GA']
atl_sales_count

In [ ]:
#pulling out list price for Atlanta
atl_list_price = list_price.loc[list_price['RegionName']=='Atlanta, GA']
atl_list_price

In [ ]:
#inventory for Atlanta
atl_inventory = inventory.loc[inventory['RegionName']=='Atlanta, GA']
atl_inventory

In [ ]:
#Atlanta sales count melt
atl_sales_count = pd.melt(atl_sales_count, id_vars=['RegionID','SizeRank','RegionName','RegionType','StateName'], var_name = 'date', value_name = 'sales_count' )
atl_sales_count.head()

In [ ]:
#converting sales count date to datetime
atl_sales_count['date']= pd.to_datetime(atl_sales_count['date'])
atl_sales_count.info()

In [ ]:
#adjusting time to match other dateframes starting at 2018-03-31
atl_sales_count = atl_sales_count.loc[atl_sales_count['date']>='2018-03-31']
atl_sales_count = atl_sales_count.reset_index(drop=True)
atl_sales_count = atl_sales_count.rename(columns = {'RegionName':'City','StateName':'State'})
atl_sales_count.head()

In [ ]:
#Atlanta list price melt
atl_list_price = pd.melt(atl_list_price, id_vars=['RegionID','SizeRank','RegionName','RegionType','StateName'], var_name = 'date', value_name = 'avg_list_price' )
atl_list_price.head()

In [ ]:
atl_list_price = atl_list_price.rename(columns = {'RegionName':'City','StateName':'State'})
atl_list_price.head()

In [ ]:
#Atlanta inventory melt
atl_inventory = pd.melt(atl_inventory, id_vars=['RegionID','SizeRank','RegionName','RegionType','StateName'], var_name = 'date', value_name = 'inventory_count' )

In [ ]:
atl_inventory = atl_inventory.rename(columns = {'RegionName':'City','StateName':'State'})
atl_inventory.head()

In [ ]:
#All sales count melt
sales_count = pd.melt(sales_count, id_vars=['RegionID','SizeRank','RegionName','RegionType','StateName'], var_name = 'date', value_name = 'sales_count' )

In [ ]:
sales_count = sales_count.rename(columns = {'RegionName':'City','StateName':'State'})
sales_count.head()

In [ ]:
sales_count.info()

In [ ]:
#all sales count convert date column to datetime
sales_count['date'] = pd.to_datetime(sales_count['date'])

In [ ]:
sales_count.info()

In [ ]:
#Start date to match the other dataframes at 2018-03-31
sales_count = sales_count.loc[sales_count['date'] >= '2018-03-31']
sales_count = sales_count.reset_index(drop=True)
sales_count.head()

In [ ]:
#all list price melt
list_price = pd.melt(list_price, id_vars=['RegionID','SizeRank','RegionName','RegionType','StateName'], var_name = 'date', value_name = 'avg_list_price' )

In [ ]:
list_price = list_price.rename(columns = {'RegionName':'City','StateName':'State'})
list_price.head()

In [ ]:
#all inventory melt
inventory = pd.melt(inventory, id_vars=['RegionID','SizeRank','RegionName','RegionType','StateName'], var_name = 'date', value_name = 'inventory_count' )

In [ ]:
inventory= inventory.rename(columns = {'RegionName':'City','StateName':'State'})
inventory.head()

In [ ]:
#Nashville sales count table DF
nash_sales_count = sales_count.loc[sales_count['City']== 'Nashville, TN']
nash_sales_count = nash_sales_count.reset_index(drop = True)
nash_sales_count.head()

In [ ]:
#Nashville list price DF
nash_list_price = list_price.loc[list_price['City']== 'Nashville, TN']
nash_list_price = nash_list_price.reset_index(drop=True)
nash_list_price.head()

In [ ]:
#Nashville inventory DF
nash_inventory = inventory.loc[inventory['City']=='Nashville, TN']
nash_inventory = nash_inventory.reset_index(drop=True)
nash_inventory.head()

In [ ]:
austin_sales_count = sales_count.loc[sales_count['City']=='Austin, TX']
austin_sales_count = austin_sales_count.reset_index(drop=True)
austin_sales_count.head()

In [ ]:
austin_list_price = list_price.loc[list_price['City']=='Austin, TX']
austin_list_price = austin_list_price.reset_index(drop=True)
austin_list_price.head()

In [ ]:
austin_inventory = inventory.loc[inventory['City']=='Austin, TX']
austin_inventory = austin_inventory.reset_index(drop=True)
austin_inventory.head()

In [ ]:
#forecasting csv
forecast = pd.read_csv('../data/zillow_forecasts.csv')

In [ ]:
forecast.head()

In [ ]:
#dropping irrelevant date
forecast = forecast.drop('2022-11-30', axis=1)
forecast.head()

In [ ]:
#forecast melt
forecast = pd.melt(forecast, id_vars = ['RegionID','SizeRank','RegionName','RegionType','StateName', 'BaseDate'], var_name = 'proj_date', value_name = 'proj_value')

In [ ]:
forecast = forecast.rename(columns = {'RegionName':'City','StateName':'State'})
forecast.head()

In [ ]:
#Atlanta forecast
atl_forecast = forecast.loc[forecast['City']=='Atlanta, GA']
atl_forecast = atl_forecast.reset_index(drop=True)
atl_forecast

In [ ]:
#Nashville forecast
nash_forecast = forecast.loc[forecast['City']=='Nashville, TN']
nash_forecast = nash_forecast.reset_index(drop=True)
nash_forecast

In [ ]:
#Austin forecast
austin_forecast = forecast.loc[forecast['City']=='Austin, TX']
austin_forecast = austin_forecast.reset_index(drop=True)
austin_forecast

In [ ]:
#one bedroom value DF
one_bed_value = pd.read_csv('../data/one_bedroom_value.csv')
one_bed_value.head()

In [ ]:
#two bedroom value DF
two_bed_value = pd.read_csv('../data/two_bedroom_value.csv')
two_bed_value.head()

In [ ]:
#three bedroom value DF
three_bed_value = pd.read_csv('../data/three_bedroom_value.csv')
three_bed_value.head()

In [ ]:
#four bedroom value DF
four_bed_value = pd.read_csv('../data/four_bedroom_value.csv')
four_bed_value.head()

In [ ]:
#five bedroom value DF
five_bed_value = pd.read_csv('../data/five_bedroom_value.csv')
five_bed_value.head()

In [ ]:
#one bed melt
one_bed_value = pd.melt(one_bed_value, id_vars = ['RegionID','SizeRank','RegionName','RegionType','StateName'], var_name = 'date', value_name = 'home_value')

In [ ]:
#two bed melt
two_bed_value = pd.melt(two_bed_value, id_vars = ['RegionID','SizeRank','RegionName','RegionType','StateName'], var_name = 'date', value_name = '2br_value')

In [ ]:
#three bed melt
three_bed_value = pd.melt(three_bed_value, id_vars = ['RegionID','SizeRank','RegionName','RegionType','StateName'], var_name = 'date', value_name = '3br_value')

In [ ]:
#four bed melt
four_bed_value = pd.melt(four_bed_value, id_vars = ['RegionID','SizeRank','RegionName','RegionType','StateName'], var_name = 'date', value_name = '4br_value')

In [ ]:
#five bed melt
five_bed_value = pd.melt(five_bed_value, id_vars = ['RegionID','SizeRank','RegionName','RegionType','StateName'], var_name = 'date', value_name = '5br_value')

In [ ]:
#household income 2017
hh_nash_inc_2017 = pd.read_csv('../data/nash_mean_inc_2017.csv',header = [1])

#add city column
hh_nash_inc_2017['city'] = 'Nashville'

hh_nash_inc_2017.head()

In [ ]:
#household income 2017
hh_atl_inc_2017 = pd.read_csv('../data/atl_mean_inc_2017.csv',header = [1])

#add city column
hh_atl_inc_2017['city'] = 'Atlanta'

hh_atl_inc_2017.head()

In [ ]:
#household income 2017
hh_austin_inc_2017 = pd.read_csv('../data/austin_mean_inc_2017.csv',header = [1])

#add city column
hh_austin_inc_2017['city'] = 'Austin'
hh_austin_inc_2017.head()

In [ ]:
#household income 2018
hh_nash_inc_2018 = pd.read_csv('../data/nash_mean_inc_2018.csv', header=[1])

#add city column
hh_nash_inc_2018['city'] = 'Nashville'
hh_nash_inc_2018.head()

In [ ]:
#household income 2018
hh_atl_inc_2018 = pd.read_csv('../data/atl_mean_inc_2018.csv', header=[1])

#add city column
hh_atl_inc_2018['city'] = 'Atlanta'
hh_atl_inc_2018.head()

In [ ]:
#household income 2018
hh_austin_inc_2018 = pd.read_csv('../data/austin_mean_inc_2018.csv', header=[1])

#add city column
hh_austin_inc_2018['city'] = 'Austin'
hh_austin_inc_2018.head()

In [ ]:
#household income 2019
hh_nash_inc_2019 = pd.read_csv('../data/nash_mean_inc_2019.csv',header = [1])

#add city column
hh_nash_inc_2019['city'] = 'Nashville'
hh_nash_inc_2019.head()

In [ ]:
#household income 2019
hh_atl_inc_2019 = pd.read_csv('../data/atl_mean_inc_2019.csv',header = [1])

#add city column
hh_atl_inc_2019['city'] = 'Atlanta'
hh_atl_inc_2019.head()

In [ ]:
#household income 2019
hh_austin_inc_2019 = pd.read_csv('../data/austin_mean_inc_2019.csv',header = [1])

#add city column
hh_austin_inc_2019['city'] = 'Austin'
hh_austin_inc_2019.head()

In [ ]:
#household income 2020
hh_nash_inc_2020 = pd.read_csv('../data/nashville_mean_inc_2020.csv',header=[1])

#add city column
hh_nash_inc_2020['city'] = 'Nashville'
hh_nash_inc_2020.head()

In [ ]:
#household income 2020
hh_atl_inc_2020 = pd.read_csv('../data/atl_mean_inc_2020.csv',header=[1])

#add city column
hh_atl_inc_2020['city'] = 'Atlanta'
hh_atl_inc_2020.head()

In [ ]:
#household income 2020
hh_austin_inc_2020 = pd.read_csv('../data/austin_mean_inc_2020.csv',header=[1])

#add city column
hh_austin_inc_2020['city'] = 'Austin'
hh_austin_inc_2020.head()

In [ ]:
#household income 2021
hh_nash_inc_2021 = pd.read_csv('../data/nash_mean_inc_2021.csv', header=[1])

#add city column
hh_nash_inc_2021['city'] = 'Nashville'
hh_nash_inc_2021.head()

In [ ]:
#household income 2021
hh_austin_inc_2021 = pd.read_csv('../data/austin_mean_inc_2021.csv', header=[1])

#add city column
hh_austin_inc_2021['city'] = 'Austin'
hh_austin_inc_2021.head()

In [ ]:
#household income 2021
hh_atl_inc_2021 = pd.read_csv('../data/atl_mean_inc_2021.csv', header=[1])

#add city column
hh_atl_inc_2021['city'] = 'Atlanta'
hh_atl_inc_2021.head()

In [ ]:
#pulling out relevant columns
hh_nash_inc_2017 = hh_nash_inc_2017.loc[:,['city','HOUSEHOLD INCOME','Unnamed: 1','Unnamed: 5']]

#renaming column
hh_nash_inc_2017 = hh_nash_inc_2017.rename(columns = {'HOUSEHOLD INCOME':'household_income','Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
hh_nash_inc_2017['household_income'] = hh_nash_inc_2017['household_income'].str.strip()

#consolidating table
hh_nash_inc_2017 = hh_nash_inc_2017.loc[(hh_nash_inc_2017['household_income']=='All households')|
                                        (hh_nash_inc_2017['household_income']=='With earnings')|
                                        (hh_nash_inc_2017['household_income']=='With wages or salary income')|
                                        (hh_nash_inc_2017['household_income']=='With self-employment income')]

#add year column
hh_nash_inc_2017['year'] = 2017

#reorder columns 
hh_nash_inc_2017 = hh_nash_inc_2017.loc[:,['city','household_income', 'year','household_count','avg_income']]

hh_nash_inc_2017.head()

In [ ]:
#pulling out relevant columns
hh_atl_inc_2017 = hh_atl_inc_2017.loc[:,['city','HOUSEHOLD INCOME','Unnamed: 1','Unnamed: 5']]

#renaming column
hh_atl_inc_2017 = hh_atl_inc_2017.rename(columns = {'HOUSEHOLD INCOME':'household_income','Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
hh_atl_inc_2017['household_income'] = hh_atl_inc_2017['household_income'].str.strip()

#consolidating table
hh_atl_inc_2017 = hh_atl_inc_2017.loc[(hh_atl_inc_2017['household_income']=='All households')|
                                      (hh_atl_inc_2017['household_income']=='With earnings')|
                                      (hh_atl_inc_2017['household_income']=='With wages or salary income')|
                                      (hh_atl_inc_2017['household_income']=='With self-employment income')]

#add year column
hh_atl_inc_2017['year'] = 2017

#reorder columns 
hh_atl_inc_2017 = hh_atl_inc_2017.loc[:,['city','household_income', 'year','household_count','avg_income']]

hh_atl_inc_2017.head()

In [ ]:
#pulling out relevant columns
hh_austin_inc_2017 = hh_austin_inc_2017.loc[:,['city','HOUSEHOLD INCOME','Unnamed: 1','Unnamed: 5']]

#renaming column
hh_austin_inc_2017 = hh_austin_inc_2017.rename(columns = {'HOUSEHOLD INCOME':'household_income','Unnamed: 1': 'household_count',
                                                          'Unnamed: 5':'avg_income'})

#stripping extra space in column
hh_austin_inc_2017['household_income'] = hh_austin_inc_2017['household_income'].str.strip()

#consolidating table
hh_austin_inc_2017 = hh_austin_inc_2017.loc[(hh_austin_inc_2017['household_income']=='All households')|
                                            (hh_austin_inc_2017['household_income']=='With earnings')|
                                            (hh_austin_inc_2017['household_income']=='With wages or salary income')|
                                            (hh_austin_inc_2017['household_income']=='With self-employment income')]

#add year column
hh_austin_inc_2017['year'] = 2017

#reorder columns 
hh_austin_inc_2017 = hh_austin_inc_2017.loc[:,['city','household_income', 'year','household_count','avg_income']]

hh_austin_inc_2017.head()

In [ ]:
#pulling out relevant columns
hh_nash_inc_2018 = hh_nash_inc_2018.loc[:,['city','HOUSEHOLD INCOME','Unnamed: 1','Unnamed: 5']]

#renaming column
hh_nash_inc_2018 = hh_nash_inc_2018.rename(columns = {'HOUSEHOLD INCOME':'household_income','Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
hh_nash_inc_2018['household_income'] = hh_nash_inc_2018['household_income'].str.strip()

#consolidating table
hh_nash_inc_2018 = hh_nash_inc_2018.loc[(hh_nash_inc_2018['household_income']=='All households')|
                                        (hh_nash_inc_2018['household_income']=='With earnings')|
                                        (hh_nash_inc_2018['household_income']=='With wages or salary income')|
                                        (hh_nash_inc_2018['household_income']=='With self-employment income')]

#add year column
hh_nash_inc_2018['year'] = 2018

#reorder columns 
hh_nash_inc_2018 = hh_nash_inc_2018.loc[:,['city','household_income', 'year','household_count','avg_income']]

hh_nash_inc_2018.head()

In [ ]:
#pulling out relevant columns
hh_atl_inc_2018 = hh_atl_inc_2018.loc[:,['city','HOUSEHOLD INCOME','Unnamed: 1','Unnamed: 5']]

#renaming column
hh_atl_inc_2018 = hh_atl_inc_2018.rename(columns = {'HOUSEHOLD INCOME':'household_income','Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
hh_atl_inc_2018['household_income'] = hh_atl_inc_2018['household_income'].str.strip()

#consolidating table
hh_atl_inc_2018 = hh_atl_inc_2018.loc[(hh_atl_inc_2018['household_income']=='All households')|
                                        (hh_atl_inc_2018['household_income']=='With earnings')|
                                        (hh_atl_inc_2018['household_income']=='With wages or salary income')|
                                        (hh_atl_inc_2018['household_income']=='With self-employment income')]

#add year column
hh_atl_inc_2018['year'] = 2018

#reorder columns 
hh_atl_inc_2018 = hh_atl_inc_2018.loc[:,['city','household_income', 'year','household_count','avg_income']]

hh_atl_inc_2018.head()

In [ ]:
#pulling out relevant columns
hh_austin_inc_2018 = hh_austin_inc_2018.loc[:,['city','HOUSEHOLD INCOME','Unnamed: 1','Unnamed: 5']]

#renaming column
hh_austin_inc_2018 = hh_austin_inc_2018.rename(columns = {'HOUSEHOLD INCOME':'household_income','Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
hh_austin_inc_2018['household_income'] = hh_austin_inc_2018['household_income'].str.strip()

#consolidating table
hh_austin_inc_2018 = hh_austin_inc_2018.loc[(hh_austin_inc_2018['household_income']=='All households')|
                                            (hh_austin_inc_2018['household_income']=='With earnings')|
                                            (hh_austin_inc_2018['household_income']=='With wages or salary income')|
                                            (hh_austin_inc_2018['household_income']=='With self-employment income')]

#add year column
hh_austin_inc_2018['year'] = 2018

#reorder columns 
hh_austin_inc_2018 = hh_austin_inc_2018.loc[:,['city','household_income', 'year','household_count','avg_income']]

hh_austin_inc_2018.head()

In [ ]:
#pulling out relevant columns
hh_nash_inc_2019 = hh_nash_inc_2019.loc[:,['city','HOUSEHOLD INCOME','Unnamed: 1','Unnamed: 5']]

#renaming column
hh_nash_inc_2019 = hh_nash_inc_2019.rename(columns = {'HOUSEHOLD INCOME':'household_income','Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
hh_nash_inc_2019['household_income'] = hh_nash_inc_2019['household_income'].str.strip()

#consolidating table
hh_nash_inc_2019 = hh_nash_inc_2019.loc[(hh_nash_inc_2019['household_income']=='All households')|
                                        (hh_nash_inc_2019['household_income']=='With earnings')|
                                        (hh_nash_inc_2019['household_income']=='With wages or salary income')|
                                        (hh_nash_inc_2019['household_income']=='With self-employment income')]

#add year column
hh_nash_inc_2019['year'] = 2019

#reorder columns 
hh_nash_inc_2019 = hh_nash_inc_2019.loc[:,['city','household_income', 'year','household_count','avg_income']]

hh_nash_inc_2019.head()

In [ ]:
#pulling out relevant columns
hh_atl_inc_2019 = hh_atl_inc_2019.loc[:,['city','HOUSEHOLD INCOME','Unnamed: 1','Unnamed: 5']]

#renaming column
hh_atl_inc_2019 = hh_atl_inc_2019.rename(columns = {'HOUSEHOLD INCOME':'household_income','Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
hh_atl_inc_2019['household_income'] = hh_atl_inc_2019['household_income'].str.strip()

#consolidating table
hh_atl_inc_2019 = hh_atl_inc_2019.loc[(hh_atl_inc_2019['household_income']=='All households')|
                                      (hh_atl_inc_2019['household_income']=='With earnings')|
                                      (hh_atl_inc_2019['household_income']=='With wages or salary income')|
                                      (hh_atl_inc_2019['household_income']=='With self-employment income')]

#add year column
hh_atl_inc_2019['year'] = 2019

#reorder columns 
hh_atl_inc_2019 = hh_atl_inc_2019.loc[:,['city','household_income', 'year','household_count','avg_income']]

hh_atl_inc_2019.head()

In [ ]:
#pulling out relevant columns
hh_austin_inc_2019 = hh_austin_inc_2019.loc[:,['city','HOUSEHOLD INCOME','Unnamed: 1','Unnamed: 5']]

#renaming column
hh_austin_inc_2019 = hh_austin_inc_2019.rename(columns = {'HOUSEHOLD INCOME':'household_income','Unnamed: 1': 'household_count',
                                                          'Unnamed: 5':'avg_income'})

#stripping extra space in column
hh_austin_inc_2019['household_income'] = hh_austin_inc_2019['household_income'].str.strip()

#consolidating table
hh_austin_inc_2019 = hh_austin_inc_2019.loc[(hh_austin_inc_2019['household_income']=='All households')|
                                            (hh_austin_inc_2019['household_income']=='With earnings')|
                                            (hh_austin_inc_2019['household_income']=='With wages or salary income')|
                                            (hh_austin_inc_2019['household_income']=='With self-employment income')]

#add year column
hh_austin_inc_2019['year'] = 2019

#reorder columns 
hh_austin_inc_2019 = hh_austin_inc_2019.loc[:,['city','household_income', 'year','household_count','avg_income']]

hh_austin_inc_2019.head()

In [ ]:
#pulling out relevant columns
hh_nash_inc_2020 = hh_nash_inc_2020.loc[:,['city','HOUSEHOLD INCOME','Unnamed: 1','Unnamed: 5']]

#renaming column
hh_nash_inc_2020 = hh_nash_inc_2020.rename(columns = {'HOUSEHOLD INCOME':'household_income','Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
hh_nash_inc_2020['household_income'] = hh_nash_inc_2020['household_income'].str.strip()

#consolidating table
hh_nash_inc_2020 = hh_nash_inc_2020.loc[(hh_nash_inc_2020['household_income']=='All households')|
                                        (hh_nash_inc_2020['household_income']=='With earnings')|
                                        (hh_nash_inc_2020['household_income']=='With wages or salary income')|
                                        (hh_nash_inc_2020['household_income']=='With self-employment income')]

#add year column
hh_nash_inc_2020['year'] = 2020

#reorder columns 
hh_nash_inc_2020 = hh_nash_inc_2020.loc[:,['city','household_income', 'year','household_count','avg_income']]

hh_nash_inc_2020.head()

In [ ]:
#pulling out relevant columns
hh_atl_inc_2020 = hh_atl_inc_2020.loc[:,['city','HOUSEHOLD INCOME','Unnamed: 1','Unnamed: 5']]

#renaming column
hh_atl_inc_2020 = hh_atl_inc_2020.rename(columns = {'HOUSEHOLD INCOME':'household_income','Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
hh_atl_inc_2020['household_income'] = hh_atl_inc_2020['household_income'].str.strip()

#consolidating table
hh_atl_inc_2020 = hh_atl_inc_2020.loc[(hh_atl_inc_2020['household_income']=='All households')|
                                      (hh_atl_inc_2020['household_income']=='With earnings')|
                                      (hh_atl_inc_2020['household_income']=='With wages or salary income')|
                                      (hh_atl_inc_2020['household_income']=='With self-employment income')]

#add year column
hh_atl_inc_2020['year'] = 2020

#reorder columns 
hh_atl_inc_2020 = hh_atl_inc_2020.loc[:,['city','household_income', 'year','household_count','avg_income']]

hh_atl_inc_2020.head()

In [ ]:
#pulling out relevant columns
hh_austin_inc_2020 = hh_austin_inc_2020.loc[:,['city','HOUSEHOLD INCOME','Unnamed: 1','Unnamed: 5']]

#renaming column
hh_austin_inc_2020 = hh_austin_inc_2020.rename(columns = {'HOUSEHOLD INCOME':'household_income','Unnamed: 1': 'household_count',
                                                          'Unnamed: 5':'avg_income'})

#stripping extra space in column
hh_austin_inc_2020['household_income'] = hh_austin_inc_2020['household_income'].str.strip()

#consolidating table
hh_austin_inc_2020 = hh_austin_inc_2020.loc[(hh_austin_inc_2020['household_income']=='All households')|
                                            (hh_austin_inc_2020['household_income']=='With earnings')|
                                            (hh_austin_inc_2020['household_income']=='With wages or salary income')|
                                            (hh_austin_inc_2020['household_income']=='With self-employment income')]

#add year column
hh_austin_inc_2020['year'] = 2020

#reorder columns 
hh_austin_inc_2020 = hh_austin_inc_2020.loc[:,['city','household_income', 'year','household_count','avg_income']]

hh_austin_inc_2020.head()

In [ ]:
#pulling out relevant columns
hh_nash_inc_2021 = hh_nash_inc_2021.loc[:,['city','HOUSEHOLD INCOME','Unnamed: 1','Unnamed: 5']]

#renaming column
hh_nash_inc_2021 = hh_nash_inc_2021.rename(columns = {'HOUSEHOLD INCOME':'household_income','Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
hh_nash_inc_2021['household_income'] = hh_nash_inc_2021['household_income'].str.strip()

#consolidating table
hh_nash_inc_2021 = hh_nash_inc_2021.loc[(hh_nash_inc_2021['household_income']=='All households')|
                                        (hh_nash_inc_2021['household_income']=='With earnings')|
                                        (hh_nash_inc_2021['household_income']=='With wages or salary income')|
                                        (hh_nash_inc_2021['household_income']=='With self-employment income')]

#add year column
hh_nash_inc_2021['year'] = 2021

#reorder columns 
hh_nash_inc_2021 = hh_nash_inc_2021.loc[:,['city','household_income', 'year','household_count','avg_income']]

hh_nash_inc_2021.head()

In [ ]:
#pulling out relevant columns
hh_atl_inc_2021 = hh_atl_inc_2021.loc[:,['city','HOUSEHOLD INCOME','Unnamed: 1','Unnamed: 5']]

#renaming column
hh_atl_inc_2021 = hh_atl_inc_2021.rename(columns = {'HOUSEHOLD INCOME':'household_income','Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
hh_atl_inc_2021['household_income'] = hh_atl_inc_2021['household_income'].str.strip()

#consolidating table
hh_atl_inc_2021 = hh_atl_inc_2021.loc[(hh_atl_inc_2021['household_income']=='All households')|
                                      (hh_atl_inc_2021['household_income']=='With earnings')|
                                      (hh_atl_inc_2021['household_income']=='With wages or salary income')|
                                      (hh_atl_inc_2021['household_income']=='With self-employment income')]

#add year column
hh_atl_inc_2021['year'] = 2021

#reorder columns 
hh_atl_inc_2021 = hh_atl_inc_2021.loc[:,['city','household_income', 'year','household_count','avg_income']]

hh_atl_inc_2021.head()

In [ ]:
#pulling out relevant columns
hh_austin_inc_2021 = hh_austin_inc_2021.loc[:,['city','HOUSEHOLD INCOME','Unnamed: 1','Unnamed: 5']]

#renaming column
hh_austin_inc_2021 = hh_austin_inc_2021.rename(columns = {'HOUSEHOLD INCOME':'household_income','Unnamed: 1': 'household_count',
                                                          'Unnamed: 5':'avg_income'})

#stripping extra space in column
hh_austin_inc_2021['household_income'] = hh_austin_inc_2021['household_income'].str.strip()

#consolidating table
hh_austin_inc_2021 = hh_austin_inc_2021.loc[(hh_austin_inc_2021['household_income']=='All households')|
                                            (hh_austin_inc_2021['household_income']=='With earnings')|
                                            (hh_austin_inc_2021['household_income']=='With wages or salary income')|
                                            (hh_austin_inc_2021['household_income']=='With self-employment income')]

#add year column
hh_austin_inc_2021['year'] = 2021

#reorder columns 
hh_austin_inc_2021 = hh_austin_inc_2021.loc[:,['city','household_income', 'year','household_count','avg_income']]

hh_austin_inc_2021.head()

In [ ]:
#family income 2017
fs_nash_inc_2017 = pd.read_csv('../data/nash_mean_inc_2017.csv',header = [13])

#add city column
fs_nash_inc_2017['city'] = 'Nashville'
fs_nash_inc_2017.head()

In [ ]:
#family income 2017
fs_atl_inc_2017 = pd.read_csv('../data/atl_mean_inc_2017.csv',header = [13])

#add city column
fs_atl_inc_2017['city'] = 'Atlanta'
fs_atl_inc_2017.head()

In [ ]:
#family income 2017
fs_austin_inc_2017 = pd.read_csv('../data/austin_mean_inc_2017.csv',header = [13])

#add city column
fs_austin_inc_2017['city'] = 'Austin'
fs_austin_inc_2017.head()

In [ ]:
#family income 2018
fs_nash_inc_2018 = pd.read_csv('../data/nash_mean_inc_2018.csv',header = [13])

#add city column
fs_nash_inc_2018['city'] = 'Nashville'
fs_nash_inc_2018.head()

In [ ]:
#family income 2018
fs_atl_inc_2018 = pd.read_csv('../data/atl_mean_inc_2018.csv',header = [13])

#add city column
fs_atl_inc_2018['city'] = 'Atlanta'
fs_atl_inc_2018.head()

In [ ]:
#family income 2018
fs_austin_inc_2018 = pd.read_csv('../data/austin_mean_inc_2018.csv',header = [13])

#add city column
fs_austin_inc_2018['city'] = 'Austin'
fs_austin_inc_2018.head()

In [ ]:
#family income 2019
fs_nash_inc_2019 = pd.read_csv('../data/nash_mean_inc_2019.csv',header = [13])

#add city column
fs_nash_inc_2019['city'] = 'Nashville'
fs_nash_inc_2019.head()

In [ ]:
#family income 2019
fs_atl_inc_2019 = pd.read_csv('../data/atl_mean_inc_2019.csv',header = [13])

#add city column
fs_atl_inc_2019['city'] = 'Atlanta'
fs_atl_inc_2019.head()

In [ ]:
#family income 2019
fs_austin_inc_2019 = pd.read_csv('../data/austin_mean_inc_2019.csv',header = [13])

#add city column
fs_austin_inc_2019['city'] = 'Austin'
fs_austin_inc_2019.head()

In [ ]:
#family income 2020
fs_nash_inc_2020 = pd.read_csv('../data/nashville_mean_inc_2020.csv',header = [13])

#add city column
fs_nash_inc_2020['city'] = 'Nashville'
fs_nash_inc_2020.head()

In [ ]:
#family income 2020
fs_atl_inc_2020 = pd.read_csv('../data/atl_mean_inc_2020.csv',header = [13])

#add city column
fs_atl_inc_2020['city'] = 'Atlanta'
fs_atl_inc_2020.head()

In [ ]:
#family income 2020
fs_austin_inc_2020 = pd.read_csv('../data/austin_mean_inc_2020.csv',header = [13])

#add city column
fs_austin_inc_2020['city'] = 'Austin'
fs_austin_inc_2020.head()

In [ ]:
#family income 2021
fs_nash_inc_2021 = pd.read_csv('../data/nash_mean_inc_2021.csv',header = [13])

#add city column
fs_nash_inc_2021['city'] = 'Nashville'
fs_nash_inc_2021.head()

In [ ]:
#family income 2021
fs_atl_inc_2021 = pd.read_csv('../data/atl_mean_inc_2021.csv',header = [13])

#add city column
fs_atl_inc_2021['city'] = 'Atlanta'
fs_atl_inc_2021.head()

In [ ]:
#family income 2021
fs_austin_inc_2021 = pd.read_csv('../data/austin_mean_inc_2021.csv',header = [13])

#add city column
fs_austin_inc_2021['city'] = 'Austin'
fs_austin_inc_2021.head()

In [ ]:
fs_nash_inc_2017.columns

In [ ]:
#pulling out relevant columns
fs_nash_inc_2017 = fs_nash_inc_2017.loc[:,['city','FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY','Unnamed: 1','Unnamed: 5']]

#renaming column
fs_nash_inc_2017 = fs_nash_inc_2017.rename(columns = {'FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY':'family_size',
                                                      'Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
fs_nash_inc_2017['family_size'] = fs_nash_inc_2017['family_size'].str.strip()

#consolidating table
fs_nash_inc_2017 = fs_nash_inc_2017.loc[(fs_nash_inc_2017['family_size']=='1 worker')|
                                        (fs_nash_inc_2017['family_size']=='2 workers, husband and wife worked')|
                                        (fs_nash_inc_2017['family_size']=='2 workers, other')|
                                        (fs_nash_inc_2017['family_size']=='3 or more workers, husband and wife worked')|
                                        (fs_nash_inc_2017['family_size']=='3 or more workers, other')].reset_index(drop=True)

#add year column
fs_nash_inc_2017['year'] = 2017

#reorder columns 
fs_nash_inc_2017 = fs_nash_inc_2017.loc[:,['city','family_size', 'year','household_count','avg_income']]

fs_nash_inc_2017.head()

In [ ]:
#pulling out relevant columns
fs_atl_inc_2017 = fs_atl_inc_2017.loc[:,['city','FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY','Unnamed: 1','Unnamed: 5']]

#renaming column
fs_atl_inc_2017 = fs_atl_inc_2017.rename(columns = {'FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY':'family_size',
                                                      'Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
fs_atl_inc_2017['family_size'] = fs_atl_inc_2017['family_size'].str.strip()

#consolidating table
fs_atl_inc_2017 = fs_atl_inc_2017.loc[(fs_atl_inc_2017['family_size']=='1 worker')|
                                        (fs_atl_inc_2017['family_size']=='2 workers, husband and wife worked')|
                                        (fs_atl_inc_2017['family_size']=='2 workers, other')|
                                        (fs_atl_inc_2017['family_size']=='3 or more workers, husband and wife worked')|
                                        (fs_atl_inc_2017['family_size']=='3 or more workers, other')].reset_index(drop=True)

#add year column
fs_atl_inc_2017['year'] = 2017

#reorder columns 
fs_atl_inc_2017 = fs_atl_inc_2017.loc[:,['city','family_size', 'year','household_count','avg_income']]

fs_atl_inc_2017.head()

In [ ]:
#pulling out relevant columns
fs_austin_inc_2017 = fs_austin_inc_2017.loc[:,['city','FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY','Unnamed: 1','Unnamed: 5']]

#renaming column
fs_austin_inc_2017 = fs_austin_inc_2017.rename(columns = {'FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY':'family_size',
                                                      'Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
fs_austin_inc_2017['family_size'] = fs_austin_inc_2017['family_size'].str.strip()

#consolidating table
fs_austin_inc_2017 = fs_austin_inc_2017.loc[(fs_austin_inc_2017['family_size']=='1 worker')|
                                        (fs_austin_inc_2017['family_size']=='2 workers, husband and wife worked')|
                                        (fs_austin_inc_2017['family_size']=='2 workers, other')|
                                        (fs_austin_inc_2017['family_size']=='3 or more workers, husband and wife worked')|
                                        (fs_austin_inc_2017['family_size']=='3 or more workers, other')].reset_index(drop=True)

#add year column
fs_austin_inc_2017['year'] = 2017

#reorder columns 
fs_austin_inc_2017 = fs_austin_inc_2017.loc[:,['city','family_size', 'year','household_count','avg_income']]

fs_austin_inc_2017.head()

In [ ]:
#pulling out relevant columns
fs_nash_inc_2018 = fs_nash_inc_2018.loc[:,['city','FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY','Unnamed: 1','Unnamed: 5']]

#renaming column
fs_nash_inc_2018 = fs_nash_inc_2018.rename(columns = {'FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY':'family_size',
                                                      'Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
fs_nash_inc_2018['family_size'] = fs_nash_inc_2018['family_size'].str.strip()

#consolidating table
fs_nash_inc_2018 = fs_nash_inc_2018.loc[(fs_nash_inc_2018['family_size']=='1 worker')|
                                        (fs_nash_inc_2018['family_size']=='2 workers, husband and wife worked')|
                                        (fs_nash_inc_2018['family_size']=='2 workers, other')|
                                        (fs_nash_inc_2018['family_size']=='3 or more workers, husband and wife worked')|
                                        (fs_nash_inc_2018['family_size']=='3 or more workers, other')].reset_index(drop=True)

#add year column
fs_nash_inc_2018['year'] = 2018

#reorder columns 
fs_nash_inc_2018 = fs_nash_inc_2018.loc[:,['city','family_size', 'year','household_count','avg_income']]

fs_nash_inc_2018.head()

In [ ]:
#pulling out relevant columns
fs_atl_inc_2018 = fs_atl_inc_2018.loc[:,['city','FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY','Unnamed: 1','Unnamed: 5']]

#renaming column
fs_atl_inc_2018 = fs_atl_inc_2018.rename(columns = {'FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY':'family_size',
                                                      'Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
fs_atl_inc_2018['family_size'] = fs_atl_inc_2018['family_size'].str.strip()

#consolidating table
fs_atl_inc_2018 = fs_atl_inc_2018.loc[(fs_atl_inc_2018['family_size']=='1 worker')|
                                        (fs_atl_inc_2018['family_size']=='2 workers, husband and wife worked')|
                                        (fs_atl_inc_2018['family_size']=='2 workers, other')|
                                        (fs_atl_inc_2018['family_size']=='3 or more workers, husband and wife worked')|
                                        (fs_atl_inc_2018['family_size']=='3 or more workers, other')].reset_index(drop=True)

#add year column
fs_atl_inc_2018['year'] = 2018

#reorder columns 
fs_atl_inc_2018 = fs_atl_inc_2018.loc[:,['city','family_size', 'year','household_count','avg_income']]

fs_atl_inc_2018.head()

In [ ]:
#pulling out relevant columns
fs_austin_inc_2018 = fs_austin_inc_2018.loc[:,['city','FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY','Unnamed: 1','Unnamed: 5']]

#renaming column
fs_austin_inc_2018 = fs_austin_inc_2018.rename(columns = {'FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY':'family_size',
                                                      'Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
fs_austin_inc_2018['family_size'] = fs_austin_inc_2018['family_size'].str.strip()

#consolidating table
fs_austin_inc_2018 = fs_austin_inc_2018.loc[(fs_austin_inc_2018['family_size']=='1 worker')|
                                        (fs_austin_inc_2018['family_size']=='2 workers, husband and wife worked')|
                                        (fs_austin_inc_2018['family_size']=='2 workers, other')|
                                        (fs_austin_inc_2018['family_size']=='3 or more workers, husband and wife worked')|
                                        (fs_austin_inc_2018['family_size']=='3 or more workers, other')].reset_index(drop=True)

#add year column
fs_austin_inc_2018['year'] = 2018

#reorder columns 
fs_austin_inc_2018 = fs_austin_inc_2018.loc[:,['city','family_size', 'year','household_count','avg_income']]

fs_austin_inc_2018.head()

In [ ]:
#pulling out relevant columns
fs_nash_inc_2019 = fs_nash_inc_2019.loc[:,['city','FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY','Unnamed: 1','Unnamed: 5']]

#renaming column
fs_nash_inc_2019 = fs_nash_inc_2019.rename(columns = {'FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY':'family_size',
                                                      'Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
fs_nash_inc_2019['family_size'] = fs_nash_inc_2019['family_size'].str.strip()

#consolidating table
fs_nash_inc_2019 = fs_nash_inc_2019.loc[(fs_nash_inc_2019['family_size']=='1 worker')|
                                        (fs_nash_inc_2019['family_size']=='2 workers, husband and wife worked')|
                                        (fs_nash_inc_2019['family_size']=='2 workers, other')|
                                        (fs_nash_inc_2019['family_size']=='3 or more workers, husband and wife worked')|
                                        (fs_nash_inc_2019['family_size']=='3 or more workers, other')].reset_index(drop= True)

#add year column
fs_nash_inc_2019['year'] = 2019

#reorder columns 
fs_nash_inc_2019 = fs_nash_inc_2019.loc[:,['city','family_size', 'year','household_count','avg_income']]

fs_nash_inc_2019.head()

In [ ]:
#pulling out relevant columns
fs_atl_inc_2019 = fs_atl_inc_2019.loc[:,['city','FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY','Unnamed: 1','Unnamed: 5']]

#renaming column
fs_atl_inc_2019 = fs_atl_inc_2019.rename(columns = {'FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY':'family_size',
                                                      'Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
fs_atl_inc_2019['family_size'] = fs_atl_inc_2019['family_size'].str.strip()

#consolidating table
fs_atl_inc_2019 = fs_atl_inc_2019.loc[(fs_atl_inc_2019['family_size']=='1 worker')|
                                        (fs_atl_inc_2019['family_size']=='2 workers, husband and wife worked')|
                                        (fs_atl_inc_2019['family_size']=='2 workers, other')|
                                        (fs_atl_inc_2019['family_size']=='3 or more workers, husband and wife worked')|
                                        (fs_atl_inc_2019['family_size']=='3 or more workers, other')].reset_index(drop= True)

#add year column
fs_atl_inc_2019['year'] = 2019

#reorder columns 
fs_atl_inc_2019 = fs_atl_inc_2019.loc[:,['city','family_size', 'year','household_count','avg_income']]

fs_atl_inc_2019.head()

In [ ]:
#pulling out relevant columns
fs_austin_inc_2019 = fs_austin_inc_2019.loc[:,['city','FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY','Unnamed: 1','Unnamed: 5']]

#renaming column
fs_austin_inc_2019 = fs_austin_inc_2019.rename(columns = {'FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY':'family_size',
                                                      'Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
fs_austin_inc_2019['family_size'] = fs_austin_inc_2019['family_size'].str.strip()

#consolidating table
fs_austin_inc_2019 = fs_austin_inc_2019.loc[(fs_austin_inc_2019['family_size']=='1 worker')|
                                        (fs_austin_inc_2019['family_size']=='2 workers, husband and wife worked')|
                                        (fs_austin_inc_2019['family_size']=='2 workers, other')|
                                        (fs_austin_inc_2019['family_size']=='3 or more workers, husband and wife worked')|
                                        (fs_austin_inc_2019['family_size']=='3 or more workers, other')].reset_index(drop= True)

#add year column
fs_austin_inc_2019['year'] = 2019

#reorder columns 
fs_austin_inc_2019 = fs_austin_inc_2019.loc[:,['city','family_size', 'year','household_count','avg_income']]

fs_austin_inc_2019.head()

In [ ]:
#pulling out relevant columns
fs_nash_inc_2020 = fs_nash_inc_2020.loc[:,['city','FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY','Unnamed: 1','Unnamed: 5']]

#renaming column
fs_nash_inc_2020 = fs_nash_inc_2020.rename(columns = {'FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY':'family_size',
                                                      'Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
fs_nash_inc_2020['family_size'] = fs_nash_inc_2020['family_size'].str.strip()

#consolidating table
fs_nash_inc_2020 = fs_nash_inc_2020.loc[(fs_nash_inc_2020['family_size']=='1 worker')|
                                        (fs_nash_inc_2020['family_size']=='2 workers, husband and wife worked')|
                                        (fs_nash_inc_2020['family_size']=='2 workers, other')|
                                        (fs_nash_inc_2020['family_size']=='3 or more workers, husband and wife worked')|
                                        (fs_nash_inc_2020['family_size']=='3 or more workers, other')].reset_index(drop=True)

#add year column
fs_nash_inc_2020['year'] = 2020

#reorder columns 
fs_nash_inc_2020 = fs_nash_inc_2020.loc[:,['city','family_size', 'year','household_count','avg_income']]

fs_nash_inc_2020.head()

In [ ]:
#pulling out relevant columns
fs_atl_inc_2020 = fs_atl_inc_2020.loc[:,['city','FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY','Unnamed: 1','Unnamed: 5']]

#renaming column
fs_atl_inc_2020 = fs_atl_inc_2020.rename(columns = {'FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY':'family_size',
                                                      'Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
fs_atl_inc_2020['family_size'] = fs_atl_inc_2020['family_size'].str.strip()

#consolidating table
fs_atl_inc_2020 = fs_atl_inc_2020.loc[(fs_atl_inc_2020['family_size']=='1 worker')|
                                        (fs_atl_inc_2020['family_size']=='2 workers, husband and wife worked')|
                                        (fs_atl_inc_2020['family_size']=='2 workers, other')|
                                        (fs_atl_inc_2020['family_size']=='3 or more workers, husband and wife worked')|
                                        (fs_atl_inc_2020['family_size']=='3 or more workers, other')].reset_index(drop=True)

#add year column
fs_atl_inc_2020['year'] = 2020

#reorder columns 
fs_atl_inc_2020 = fs_atl_inc_2020.loc[:,['city','family_size', 'year','household_count','avg_income']]

fs_atl_inc_2020.head()

In [ ]:
#pulling out relevant columns
fs_austin_inc_2020 = fs_austin_inc_2020.loc[:,['city','FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY','Unnamed: 1','Unnamed: 5']]

#renaming column
fs_austin_inc_2020 = fs_austin_inc_2020.rename(columns = {'FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY':'family_size',
                                                      'Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
fs_austin_inc_2020['family_size'] = fs_austin_inc_2020['family_size'].str.strip()

#consolidating table
fs_austin_inc_2020 = fs_austin_inc_2020.loc[(fs_austin_inc_2020['family_size']=='1 worker')|
                                        (fs_austin_inc_2020['family_size']=='2 workers, husband and wife worked')|
                                        (fs_austin_inc_2020['family_size']=='2 workers, other')|
                                        (fs_austin_inc_2020['family_size']=='3 or more workers, husband and wife worked')|
                                        (fs_austin_inc_2020['family_size']=='3 or more workers, other')].reset_index(drop=True)

#add year column
fs_austin_inc_2020['year'] = 2020

#reorder columns 
fs_austin_inc_2020 = fs_austin_inc_2020.loc[:,['city','family_size', 'year','household_count','avg_income']]

fs_austin_inc_2020.head()

In [ ]:
#pulling out relevant columns
fs_nash_inc_2021 = fs_nash_inc_2021.loc[:,['city','FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY','Unnamed: 1','Unnamed: 5']]

#renaming column
fs_nash_inc_2021 = fs_nash_inc_2021.rename(columns = {'FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY':'family_size',
                                                      'Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
fs_nash_inc_2021['family_size'] = fs_nash_inc_2021['family_size'].str.strip()

#consolidating table
fs_nash_inc_2021 = fs_nash_inc_2021.loc[(fs_nash_inc_2021['family_size']=='1 worker')|
                                        (fs_nash_inc_2021['family_size']=='2 workers, husband and wife worked')|
                                        (fs_nash_inc_2021['family_size']=='2 workers, other')|
                                        (fs_nash_inc_2021['family_size']=='3 or more workers, husband and wife worked')|
                                        (fs_nash_inc_2021['family_size']=='3 or more workers, other')].reset_index(drop=True)

#add year column
fs_nash_inc_2021['year'] = 2021

#reorder columns 
fs_nash_inc_2021 = fs_nash_inc_2021.loc[:,['city','family_size', 'year','household_count','avg_income']]

fs_nash_inc_2021.head()

In [ ]:
#pulling out relevant columns
fs_atl_inc_2021 = fs_atl_inc_2021.loc[:,['city','FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY','Unnamed: 1','Unnamed: 5']]

#renaming column
fs_atl_inc_2021 = fs_atl_inc_2021.rename(columns = {'FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY':'family_size',
                                                      'Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
fs_atl_inc_2021['family_size'] = fs_atl_inc_2021['family_size'].str.strip()

#consolidating table
fs_atl_inc_2021 = fs_atl_inc_2021.loc[(fs_atl_inc_2021['family_size']=='1 worker')|
                                        (fs_atl_inc_2021['family_size']=='2 workers, husband and wife worked')|
                                        (fs_atl_inc_2021['family_size']=='2 workers, other')|
                                        (fs_atl_inc_2021['family_size']=='3 or more workers, husband and wife worked')|
                                        (fs_atl_inc_2021['family_size']=='3 or more workers, other')].reset_index(drop=True)

#add year column
fs_atl_inc_2021['year'] = 2021

#reorder columns 
fs_atl_inc_2021 = fs_atl_inc_2021.loc[:,['city','family_size', 'year','household_count','avg_income']]

fs_atl_inc_2021.head()

In [ ]:
#pulling out relevant columns
fs_austin_inc_2021 = fs_austin_inc_2021.loc[:,['city','FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY','Unnamed: 1','Unnamed: 5']]

#renaming column
fs_austin_inc_2021 = fs_austin_inc_2021.rename(columns = {'FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY':'family_size',
                                                      'Unnamed: 1': 'household_count',
                                                      'Unnamed: 5':'avg_income'})

#stripping extra space in column
fs_austin_inc_2021['family_size'] = fs_austin_inc_2021['family_size'].str.strip()

#consolidating table
fs_austin_inc_2021 = fs_austin_inc_2021.loc[(fs_austin_inc_2021['family_size']=='1 worker')|
                                        (fs_austin_inc_2021['family_size']=='2 workers, husband and wife worked')|
                                        (fs_austin_inc_2021['family_size']=='2 workers, other')|
                                        (fs_austin_inc_2021['family_size']=='3 or more workers, husband and wife worked')|
                                        (fs_austin_inc_2021['family_size']=='3 or more workers, other')].reset_index(drop=True)

#add year column
fs_austin_inc_2021['year'] = 2021

#reorder columns 
fs_austin_inc_2021 = fs_austin_inc_2021.loc[:,['city','family_size', 'year','household_count','avg_income']]

fs_austin_inc_2021.head()

In [ ]:
#race income 2017
race_nash_inc_2017 = pd.read_csv('../data/nash_mean_inc_2017.csv',header = [21])

#add city column
race_nash_inc_2017['city'] = 'Nashville'
race_nash_inc_2017.head()

In [ ]:
#race income 2017
race_atl_inc_2017 = pd.read_csv('../data/atl_mean_inc_2017.csv',header = [21])

#add city column
race_atl_inc_2017['city'] = 'Atlanta'
race_atl_inc_2017.head()

In [ ]:
#race income 2017
race_austin_inc_2017 = pd.read_csv('../data/austin_mean_inc_2017.csv',header = [21])

#add city column
race_austin_inc_2017['city'] = 'Austin'
race_austin_inc_2017.head()

In [ ]:
#race income 2018
race_nash_inc_2018 = pd.read_csv('../data/nash_mean_inc_2018.csv',header = [21])

#add city column
race_nash_inc_2018['city'] = 'Nashville'
race_nash_inc_2018.head()

In [ ]:
#race income 2018
race_atl_inc_2018 = pd.read_csv('../data/atl_mean_inc_2018.csv',header = [21])

#add city column
race_atl_inc_2018['city'] = 'Atlanta'
race_atl_inc_2018.head()

In [ ]:
#race income 2018
race_austin_inc_2018 = pd.read_csv('../data/austin_mean_inc_2018.csv',header = [21])

#add city column
race_austin_inc_2018['city'] = 'Austin'
race_austin_inc_2018.head()

In [ ]:
#race income 2019
race_nash_inc_2019 = pd.read_csv('../data/nash_mean_inc_2019.csv',header = [21])

#add city column
race_nash_inc_2019['city'] = 'Nashville'
race_nash_inc_2019.head()

In [ ]:
#race income 2019
race_atl_inc_2019 = pd.read_csv('../data/atl_mean_inc_2019.csv',header = [21])

#add city column
race_atl_inc_2019['city'] = 'Atlanta'
race_atl_inc_2019.head()

In [ ]:
#race income 2019
race_austin_inc_2019 = pd.read_csv('../data/austin_mean_inc_2019.csv',header = [21])

#add city column
race_austin_inc_2019['city'] = 'Austin'
race_austin_inc_2019.head()

In [ ]:
#race income 2020
race_nash_inc_2020 = pd.read_csv('../data/nashville_mean_inc_2020.csv',header = [21])

#add city column
race_nash_inc_2020['city'] = 'Nashville'
race_nash_inc_2020.head()

In [ ]:
#race income 2020
race_atl_inc_2020 = pd.read_csv('../data/atl_mean_inc_2020.csv',header = [21])

#add city column
race_atl_inc_2020['city'] = 'Atlanta'
race_atl_inc_2020.head()

In [ ]:
#race income 2020
race_austin_inc_2020 = pd.read_csv('../data/austin_mean_inc_2020.csv',header = [21])

#add city column
race_austin_inc_2020['city'] = 'Austin'
race_austin_inc_2020.head()

In [ ]:
#race income 2021
race_nash_inc_2021 = pd.read_csv('../data/nash_mean_inc_2021.csv',header = [21])

#add city column
race_nash_inc_2021['city'] = 'Nashville'
race_nash_inc_2021.head()

In [ ]:
#race income 2021
race_atl_inc_2021 = pd.read_csv('../data/atl_mean_inc_2021.csv',header = [21])

#add city column
race_atl_inc_2021['city'] = 'Atlanta'
race_atl_inc_2021.head()

In [ ]:
#race income 2021
race_austin_inc_2021 = pd.read_csv('../data/austin_mean_inc_2021.csv',header = [21])

#add city column
race_austin_inc_2021['city'] = 'Austin'
race_austin_inc_2021.head()

In [ ]:
race_nash_inc_2017.columns

In [ ]:
#pulling out relevant columns
race_nash_inc_2017 = race_nash_inc_2017.loc[:,['city','PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN','Unnamed: 1','Unnamed: 5']]

#renaming column
race_nash_inc_2017 = race_nash_inc_2017.rename(columns = {'PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN':'race',
                                                          'Unnamed: 1': 'household_count',
                                                          'Unnamed: 5':'avg_income'})

#stripping extra space in column
race_nash_inc_2017['race'] = race_nash_inc_2017['race'].str.strip()

#consolidating table
race_nash_inc_2017 = race_nash_inc_2017.loc[(race_nash_inc_2017['race']=='White')|
                                            (race_nash_inc_2017['race']=='Black or African American')|
                                            (race_nash_inc_2017['race']=='American Indian and Alaska Native')|
                                            (race_nash_inc_2017['race']=='Asian')|
                                            (race_nash_inc_2017['race']=='Native Hawaiian and Other Pacific Islander')|
                                            (race_nash_inc_2017['race']=='Some other race')|
                                            (race_nash_inc_2017['race']=='Two or more races')|
                                            (race_nash_inc_2017['race']=='Hispanic or Latino origin (of any race)')].reset_index(drop=True)

#add year column
race_nash_inc_2017['year'] = 2017

#reorder columns 
race_nash_inc_2017 = race_nash_inc_2017.loc[:,['city','race', 'year','household_count','avg_income']]

race_nash_inc_2017.head()

In [ ]:
#pulling out relevant columns
race_atl_inc_2017 = race_atl_inc_2017.loc[:,['city','PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN','Unnamed: 1','Unnamed: 5']]

#renaming column
race_atl_inc_2017 = race_atl_inc_2017.rename(columns = {'PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN':'race',
                                                          'Unnamed: 1': 'household_count',
                                                          'Unnamed: 5':'avg_income'})

#stripping extra space in column
race_atl_inc_2017['race'] = race_atl_inc_2017['race'].str.strip()

#consolidating table
race_atl_inc_2017 = race_atl_inc_2017.loc[(race_atl_inc_2017['race']=='White')|
                                            (race_atl_inc_2017['race']=='Black or African American')|
                                            (race_atl_inc_2017['race']=='American Indian and Alaska Native')|
                                            (race_atl_inc_2017['race']=='Asian')|
                                            (race_atl_inc_2017['race']=='Native Hawaiian and Other Pacific Islander')|
                                            (race_atl_inc_2017['race']=='Some other race')|
                                            (race_atl_inc_2017['race']=='Two or more races')|
                                            (race_atl_inc_2017['race']=='Hispanic or Latino origin (of any race)')].reset_index(drop=True)

#add year column
race_atl_inc_2017['year'] = 2017

#reorder columns 
race_atl_inc_2017 = race_atl_inc_2017.loc[:,['city','race', 'year','household_count','avg_income']]

race_atl_inc_2017.head()

In [ ]:
#pulling out relevant columns
race_austin_inc_2017 = race_austin_inc_2017.loc[:,['city','PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN','Unnamed: 1','Unnamed: 5']]

#renaming column
race_austin_inc_2017 = race_austin_inc_2017.rename(columns = {'PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN':'race',
                                                          'Unnamed: 1': 'household_count',
                                                          'Unnamed: 5':'avg_income'})

#stripping extra space in column
race_austin_inc_2017['race'] = race_austin_inc_2017['race'].str.strip()

#consolidating table
race_austin_inc_2017 = race_austin_inc_2017.loc[(race_austin_inc_2017['race']=='White')|
                                            (race_austin_inc_2017['race']=='Black or African American')|
                                            (race_austin_inc_2017['race']=='American Indian and Alaska Native')|
                                            (race_austin_inc_2017['race']=='Asian')|
                                            (race_austin_inc_2017['race']=='Native Hawaiian and Other Pacific Islander')|
                                            (race_austin_inc_2017['race']=='Some other race')|
                                            (race_austin_inc_2017['race']=='Two or more races')|
                                            (race_austin_inc_2017['race']=='Hispanic or Latino origin (of any race)')].reset_index(drop=True)

#add year column
race_austin_inc_2017['year'] = 2017

#reorder columns 
race_austin_inc_2017 = race_austin_inc_2017.loc[:,['city','race', 'year','household_count','avg_income']]

race_austin_inc_2017.head()

In [ ]:
#pulling out relevant columns
race_nash_inc_2018 = race_nash_inc_2018.loc[:,['city','PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN','Unnamed: 1','Unnamed: 5']]

#renaming column
race_nash_inc_2018 = race_nash_inc_2018.rename(columns = {'PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN':'race',
                                                          'Unnamed: 1': 'household_count',
                                                          'Unnamed: 5':'avg_income'})

#stripping extra space in column
race_nash_inc_2018['race'] = race_nash_inc_2018['race'].str.strip()

#consolidating table
race_nash_inc_2018 = race_nash_inc_2018.loc[(race_nash_inc_2018['race']=='White')|
                                            (race_nash_inc_2018['race']=='Black or African American')|
                                            (race_nash_inc_2018['race']=='American Indian and Alaska Native')|
                                            (race_nash_inc_2018['race']=='Asian')|
                                            (race_nash_inc_2018['race']=='Native Hawaiian and Other Pacific Islander')|
                                            (race_nash_inc_2018['race']=='Some other race')|
                                            (race_nash_inc_2018['race']=='Two or more races')|
                                            (race_nash_inc_2018['race']=='Hispanic or Latino origin (of any race)')].reset_index(drop=True)

#add year column
race_nash_inc_2018['year'] = 2018

#reorder columns 
race_nash_inc_2018 = race_nash_inc_2018.loc[:,['city','race', 'year','household_count','avg_income']]

race_nash_inc_2018.head()

In [ ]:
#pulling out relevant columns
race_atl_inc_2018 = race_atl_inc_2018.loc[:,['city','PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN','Unnamed: 1','Unnamed: 5']]

#renaming column
race_atl_inc_2018 = race_atl_inc_2018.rename(columns = {'PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN':'race',
                                                          'Unnamed: 1': 'household_count',
                                                          'Unnamed: 5':'avg_income'})

#stripping extra space in column
race_atl_inc_2018['race'] = race_atl_inc_2018['race'].str.strip()

#consolidating table
race_atl_inc_2018 = race_atl_inc_2018.loc[(race_atl_inc_2018['race']=='White')|
                                            (race_atl_inc_2018['race']=='Black or African American')|
                                            (race_atl_inc_2018['race']=='American Indian and Alaska Native')|
                                            (race_atl_inc_2018['race']=='Asian')|
                                            (race_atl_inc_2018['race']=='Native Hawaiian and Other Pacific Islander')|
                                            (race_atl_inc_2018['race']=='Some other race')|
                                            (race_atl_inc_2018['race']=='Two or more races')|
                                            (race_atl_inc_2018['race']=='Hispanic or Latino origin (of any race)')].reset_index(drop=True)

#add year column
race_atl_inc_2018['year'] = 2018

#reorder columns 
race_atl_inc_2018 = race_atl_inc_2018.loc[:,['city','race', 'year','household_count','avg_income']]

race_atl_inc_2018.head()

In [ ]:
#pulling out relevant columns
race_austin_inc_2018 = race_austin_inc_2018.loc[:,['city','PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN','Unnamed: 1','Unnamed: 5']]

#renaming column
race_austin_inc_2018 = race_austin_inc_2018.rename(columns = {'PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN':'race',
                                                          'Unnamed: 1': 'household_count',
                                                          'Unnamed: 5':'avg_income'})

#stripping extra space in column
race_austin_inc_2018['race'] = race_austin_inc_2018['race'].str.strip()

#consolidating table
race_austin_inc_2018 = race_austin_inc_2018.loc[(race_austin_inc_2018['race']=='White')|
                                            (race_austin_inc_2018['race']=='Black or African American')|
                                            (race_austin_inc_2018['race']=='American Indian and Alaska Native')|
                                            (race_austin_inc_2018['race']=='Asian')|
                                            (race_austin_inc_2018['race']=='Native Hawaiian and Other Pacific Islander')|
                                            (race_austin_inc_2018['race']=='Some other race')|
                                            (race_austin_inc_2018['race']=='Two or more races')|
                                            (race_austin_inc_2018['race']=='Hispanic or Latino origin (of any race)')].reset_index(drop=True)

#add year column
race_austin_inc_2018['year'] = 2018

#reorder columns 
race_austin_inc_2018 = race_austin_inc_2018.loc[:,['city','race', 'year','household_count','avg_income']]

race_austin_inc_2018.head()

In [ ]:
#pulling out relevant columns
race_nash_inc_2019 = race_nash_inc_2019.loc[:,['city','PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN','Unnamed: 1','Unnamed: 5']]

#renaming column
race_nash_inc_2019 = race_nash_inc_2019.rename(columns = {'PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN':'race',
                                                          'Unnamed: 1': 'household_count',
                                                          'Unnamed: 5':'avg_income'})

#stripping extra space in column
race_nash_inc_2019['race'] = race_nash_inc_2019['race'].str.strip()

#consolidating table
race_nash_inc_2019 = race_nash_inc_2019.loc[(race_nash_inc_2019['race']=='White')|
                                            (race_nash_inc_2019['race']=='Black or African American')|
                                            (race_nash_inc_2019['race']=='American Indian and Alaska Native')|
                                            (race_nash_inc_2019['race']=='Asian')|
                                            (race_nash_inc_2019['race']=='Native Hawaiian and Other Pacific Islander')|
                                            (race_nash_inc_2019['race']=='Some other race')|
                                            (race_nash_inc_2019['race']=='Two or more races')|
                                            (race_nash_inc_2019['race']=='Hispanic or Latino origin (of any race)')].reset_index(drop=True)

#add year column
race_nash_inc_2019['year'] = 2019

#reorder columns 
race_nash_inc_2019 = race_nash_inc_2019.loc[:,['city','race', 'year','household_count','avg_income']]

race_nash_inc_2019.head()

In [ ]:
#pulling out relevant columns
race_atl_inc_2019 = race_atl_inc_2019.loc[:,['city','PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN','Unnamed: 1','Unnamed: 5']]

#renaming column
race_atl_inc_2019 = race_atl_inc_2019.rename(columns = {'PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN':'race',
                                                          'Unnamed: 1': 'household_count',
                                                          'Unnamed: 5':'avg_income'})

#stripping extra space in column
race_atl_inc_2019['race'] = race_atl_inc_2019['race'].str.strip()

#consolidating table
race_atl_inc_2019 = race_atl_inc_2019.loc[(race_atl_inc_2019['race']=='White')|
                                            (race_atl_inc_2019['race']=='Black or African American')|
                                            (race_atl_inc_2019['race']=='American Indian and Alaska Native')|
                                            (race_atl_inc_2019['race']=='Asian')|
                                            (race_atl_inc_2019['race']=='Native Hawaiian and Other Pacific Islander')|
                                            (race_atl_inc_2019['race']=='Some other race')|
                                            (race_atl_inc_2019['race']=='Two or more races')|
                                            (race_atl_inc_2019['race']=='Hispanic or Latino origin (of any race)')].reset_index(drop=True)

#add year column
race_atl_inc_2019['year'] = 2019

#reorder columns 
race_atl_inc_2019 = race_atl_inc_2019.loc[:,['city','race', 'year','household_count','avg_income']]

race_atl_inc_2019.head()

In [ ]:
#pulling out relevant columns
race_austin_inc_2019 = race_austin_inc_2019.loc[:,['city','PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN','Unnamed: 1','Unnamed: 5']]

#renaming column
race_austin_inc_2019 = race_austin_inc_2019.rename(columns = {'PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN':'race',
                                                          'Unnamed: 1': 'household_count',
                                                          'Unnamed: 5':'avg_income'})

#stripping extra space in column
race_austin_inc_2019['race'] = race_austin_inc_2019['race'].str.strip()

#consolidating table
race_austin_inc_2019 = race_austin_inc_2019.loc[(race_austin_inc_2019['race']=='White')|
                                            (race_austin_inc_2019['race']=='Black or African American')|
                                            (race_austin_inc_2019['race']=='American Indian and Alaska Native')|
                                            (race_austin_inc_2019['race']=='Asian')|
                                            (race_austin_inc_2019['race']=='Native Hawaiian and Other Pacific Islander')|
                                            (race_austin_inc_2019['race']=='Some other race')|
                                            (race_austin_inc_2019['race']=='Two or more races')|
                                            (race_austin_inc_2019['race']=='Hispanic or Latino origin (of any race)')].reset_index(drop=True)

#add year column
race_austin_inc_2019['year'] = 2019

#reorder columns 
race_austin_inc_2019 = race_austin_inc_2019.loc[:,['city','race', 'year','household_count','avg_income']]

race_austin_inc_2019.head()

In [ ]:
#pulling out relevant columns
race_nash_inc_2020 = race_nash_inc_2020.loc[:,['city','PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN','Unnamed: 1','Unnamed: 5']]

#renaming column
race_nash_inc_2020 = race_nash_inc_2020.rename(columns = {'PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN':'race',
                                                          'Unnamed: 1': 'household_count',
                                                          'Unnamed: 5':'avg_income'})

#stripping extra space in column
race_nash_inc_2020['race'] = race_nash_inc_2020['race'].str.strip()

#consolidating table
race_nash_inc_2020 = race_nash_inc_2020.loc[(race_nash_inc_2020['race']=='White')|
                                            (race_nash_inc_2020['race']=='Black or African American')|
                                            (race_nash_inc_2020['race']=='American Indian and Alaska Native')|
                                            (race_nash_inc_2020['race']=='Asian')|
                                            (race_nash_inc_2020['race']=='Native Hawaiian and Other Pacific Islander')|
                                            (race_nash_inc_2020['race']=='Some other race')|
                                            (race_nash_inc_2020['race']=='Two or more races')|
                                            (race_nash_inc_2020['race']=='Hispanic or Latino origin (of any race)')].reset_index(drop=True)

#add year column
race_nash_inc_2020['year'] = 2020

#reorder columns 
race_nash_inc_2020 = race_nash_inc_2020.loc[:,['city','race', 'year','household_count','avg_income']]

race_nash_inc_2020.head()

In [ ]:
#pulling out relevant columns
race_atl_inc_2020 = race_atl_inc_2020.loc[:,['city','PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN','Unnamed: 1','Unnamed: 5']]

#renaming column
race_atl_inc_2020 = race_atl_inc_2020.rename(columns = {'PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN':'race',
                                                          'Unnamed: 1': 'household_count',
                                                          'Unnamed: 5':'avg_income'})

#stripping extra space in column
race_atl_inc_2020['race'] = race_atl_inc_2020['race'].str.strip()

#consolidating table
race_atl_inc_2020 = race_atl_inc_2020.loc[(race_atl_inc_2020['race']=='White')|
                                            (race_atl_inc_2020['race']=='Black or African American')|
                                            (race_atl_inc_2020['race']=='American Indian and Alaska Native')|
                                            (race_atl_inc_2020['race']=='Asian')|
                                            (race_atl_inc_2020['race']=='Native Hawaiian and Other Pacific Islander')|
                                            (race_atl_inc_2020['race']=='Some other race')|
                                            (race_atl_inc_2020['race']=='Two or more races')|
                                            (race_atl_inc_2020['race']=='Hispanic or Latino origin (of any race)')].reset_index(drop=True)

#add year column
race_atl_inc_2020['year'] = 2020

#reorder columns 
race_atl_inc_2020 = race_atl_inc_2020.loc[:,['city','race', 'year','household_count','avg_income']]

race_atl_inc_2020.head()

In [ ]:
#pulling out relevant columns
race_austin_inc_2020 = race_austin_inc_2020.loc[:,['city','PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN','Unnamed: 1','Unnamed: 5']]

#renaming column
race_austin_inc_2020 = race_austin_inc_2020.rename(columns = {'PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN':'race',
                                                          'Unnamed: 1': 'household_count',
                                                          'Unnamed: 5':'avg_income'})

#stripping extra space in column
race_austin_inc_2020['race'] = race_austin_inc_2020['race'].str.strip()

#consolidating table
race_austin_inc_2020 = race_austin_inc_2020.loc[(race_austin_inc_2020['race']=='White')|
                                            (race_austin_inc_2020['race']=='Black or African American')|
                                            (race_austin_inc_2020['race']=='American Indian and Alaska Native')|
                                            (race_austin_inc_2020['race']=='Asian')|
                                            (race_austin_inc_2020['race']=='Native Hawaiian and Other Pacific Islander')|
                                            (race_austin_inc_2020['race']=='Some other race')|
                                            (race_austin_inc_2020['race']=='Two or more races')|
                                            (race_austin_inc_2020['race']=='Hispanic or Latino origin (of any race)')].reset_index(drop=True)

#add year column
race_austin_inc_2020['year'] = 2020

#reorder columns 
race_austin_inc_2020 = race_austin_inc_2020.loc[:,['city','race', 'year','household_count','avg_income']]

race_austin_inc_2020.head()

In [ ]:
#pulling out relevant columns
race_nash_inc_2021 = race_nash_inc_2021.loc[:,['city','PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN','Unnamed: 1','Unnamed: 5']]

#renaming column
race_nash_inc_2021 = race_nash_inc_2021.rename(columns = {'PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN':'race',
                                                          'Unnamed: 1': 'household_count',
                                                          'Unnamed: 5':'avg_income'})

#stripping extra space in column
race_nash_inc_2021['race'] = race_nash_inc_2021['race'].str.strip()

#consolidating table
race_nash_inc_2021 = race_nash_inc_2021.loc[(race_nash_inc_2021['race']=='White')|
                                            (race_nash_inc_2021['race']=='Black or African American')|
                                            (race_nash_inc_2021['race']=='American Indian and Alaska Native')|
                                            (race_nash_inc_2021['race']=='Asian')|
                                            (race_nash_inc_2021['race']=='Native Hawaiian and Other Pacific Islander')|
                                            (race_nash_inc_2021['race']=='Some other race')|
                                            (race_nash_inc_2021['race']=='Two or more races')|
                                            (race_nash_inc_2021['race']=='Hispanic or Latino origin (of any race)')].reset_index(drop=True)

#add year column
race_nash_inc_2021['year'] = 2021

#reorder columns 
race_nash_inc_2021 = race_nash_inc_2021.loc[:,['city','race', 'year','household_count','avg_income']]

race_nash_inc_2021.head()

In [ ]:
#pulling out relevant columns
race_atl_inc_2021 = race_atl_inc_2021.loc[:,['city','PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN','Unnamed: 1','Unnamed: 5']]

#renaming column
race_atl_inc_2021 = race_atl_inc_2021.rename(columns = {'PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN':'race',
                                                          'Unnamed: 1': 'household_count',
                                                          'Unnamed: 5':'avg_income'})

#stripping extra space in column
race_atl_inc_2021['race'] = race_atl_inc_2021['race'].str.strip()

#consolidating table
race_atl_inc_2021 = race_atl_inc_2021.loc[(race_atl_inc_2021['race']=='White')|
                                            (race_atl_inc_2021['race']=='Black or African American')|
                                            (race_atl_inc_2021['race']=='American Indian and Alaska Native')|
                                            (race_atl_inc_2021['race']=='Asian')|
                                            (race_atl_inc_2021['race']=='Native Hawaiian and Other Pacific Islander')|
                                            (race_atl_inc_2021['race']=='Some other race')|
                                            (race_atl_inc_2021['race']=='Two or more races')|
                                            (race_atl_inc_2021['race']=='Hispanic or Latino origin (of any race)')].reset_index(drop=True)

#add year column
race_atl_inc_2021['year'] = 2021

#reorder columns 
race_atl_inc_2021 = race_atl_inc_2021.loc[:,['city','race', 'year','household_count','avg_income']]

race_atl_inc_2021.head()

In [ ]:
#pulling out relevant columns
race_austin_inc_2021 = race_austin_inc_2021.loc[:,['city','PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN','Unnamed: 1','Unnamed: 5']]

#renaming column
race_austin_inc_2021 = race_austin_inc_2021.rename(columns = {'PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN':'race',
                                                          'Unnamed: 1': 'household_count',
                                                          'Unnamed: 5':'avg_income'})

#stripping extra space in column
race_austin_inc_2021['race'] = race_austin_inc_2021['race'].str.strip()

#consolidating table
race_austin_inc_2021 = race_austin_inc_2021.loc[(race_austin_inc_2021['race']=='White')|
                                            (race_austin_inc_2021['race']=='Black or African American')|
                                            (race_austin_inc_2021['race']=='American Indian and Alaska Native')|
                                            (race_austin_inc_2021['race']=='Asian')|
                                            (race_austin_inc_2021['race']=='Native Hawaiian and Other Pacific Islander')|
                                            (race_austin_inc_2021['race']=='Some other race')|
                                            (race_austin_inc_2021['race']=='Two or more races')|
                                            (race_austin_inc_2021['race']=='Hispanic or Latino origin (of any race)')].reset_index(drop=True)

#add year column
race_austin_inc_2021['year'] = 2021

#reorder columns 
race_austin_inc_2021 = race_austin_inc_2021.loc[:,['city','race', 'year','household_count','avg_income']]

race_austin_inc_2021.head()

In [ ]:
household_inc = pd.concat([hh_atl_inc_2017,hh_atl_inc_2018,hh_atl_inc_2019,hh_atl_inc_2020,hh_atl_inc_2021,
                           hh_nash_inc_2017,hh_nash_inc_2018,hh_nash_inc_2019,hh_nash_inc_2020,hh_nash_inc_2021,
                           hh_austin_inc_2017,hh_austin_inc_2018,hh_austin_inc_2019,hh_austin_inc_2020,hh_austin_inc_2021]).reset_index(drop=True)
household_inc.head()

In [ ]:
family_size_inc = pd.concat([fs_atl_inc_2017,fs_atl_inc_2018,fs_atl_inc_2019,fs_atl_inc_2020,fs_atl_inc_2021,
                             fs_nash_inc_2017,fs_nash_inc_2018,fs_nash_inc_2019,fs_nash_inc_2020,fs_nash_inc_2021,
                             fs_austin_inc_2017,fs_austin_inc_2018,fs_austin_inc_2019,fs_austin_inc_2020,fs_austin_inc_2021]).reset_index(drop=True)
family_size_inc.head()

In [ ]:
race_inc = pd.concat([race_atl_inc_2017,race_atl_inc_2018,race_atl_inc_2019,race_atl_inc_2020,race_atl_inc_2021,
                      race_nash_inc_2017,race_nash_inc_2018,race_nash_inc_2019,race_nash_inc_2020,race_nash_inc_2021,
                      race_austin_inc_2017,race_austin_inc_2018,race_austin_inc_2019,race_austin_inc_2020,race_austin_inc_2021]).reset_index(drop=True)
race_inc.head()

In [ ]:
sales_count = pd.concat([atl_sales_count,nash_sales_count,austin_sales_count])
sales_count.head()

In [ ]:
list_price = pd.concat([atl_list_price,nash_list_price,austin_list_price])
list_price.head()

In [ ]:
inventory = pd.concat([atl_inventory,nash_inventory,austin_inventory])
inventory.head()

In [ ]:
forecasts = pd.concat([atl_forecast,nash_forecast,austin_forecast])
forecasts.head()

In [ ]:
household_inc.info()

In [ ]:
household_inc['avg_income'] = household_inc['avg_income'].str.replace(',','').astype(int)
household_inc['monthly'] = (household_inc['avg_income']/12).round(2)
household_inc.head()

In [ ]:
family_size_inc['avg_income'] = family_size_inc['avg_income'].str.replace(',','').astype(int)
family_size_inc['monthly'] = (family_size_inc['avg_income']/12).round(2)
family_size_inc.head()

In [ ]:
race_inc['avg_income'] = race_inc['avg_income'].str.replace(',','').str.replace('N','0').astype(int)
race_inc['monthly'] = (race_inc['avg_income']/12).round(2)
race_inc.head()

In [ ]:
household_inc.to_csv('../data/cleaned/housing/household_income.csv')

In [ ]:
family_size_inc.to_csv('../data/cleaned/housing/family_size_income.csv')

In [ ]:
race_inc.to_csv('../data/cleaned/housing/race_income.csv')

In [ ]:
sales_count.to_csv('../data/cleaned/housing/sales_count.csv')

In [ ]:
list_price.to_csv('../data/cleaned/housing/list_price.csv')

In [ ]:
inventory.to_csv('../data/cleaned/housing/inventory.csv')

In [ ]:
forecasts.to_csv('../data/cleaned/housing/forecasts.csv')

In [ ]:
#Rename columns
one_bed_value = one_bed_value.rename(columns = {'RegionName':'City','StateName':'State', 'home_value': '1br_value'})

#splitting up date
one_bed_value[['year','month','day']] = one_bed_value['date'].str.split('-', expand = True)
one_bed_value.head()

#convert date columns to datetime
one_bed_value['date']= pd.to_datetime(one_bed_value['date'])

#pick out specific time period
one_bed_value = one_bed_value.loc[one_bed_value['date']>='2018-03-31']

one_bed_value.head()

In [ ]:
#Rename columns
two_bed_value = two_bed_value.rename(columns = {'RegionName':'City','StateName':'State'})

#splitting up date
two_bed_value[['year','month','day']] = two_bed_value['date'].str.split('-', expand = True)
two_bed_value.head()

#convert date columns to datetime
two_bed_value['date']= pd.to_datetime(two_bed_value['date'])

#pick out specific time period
two_bed_value = two_bed_value.loc[two_bed_value['date']>='2018-03-31']

two_bed_value.head()

In [ ]:
#Rename columns
three_bed_value = three_bed_value.rename(columns = {'RegionName':'City','StateName':'State'})

#splitting up date
three_bed_value[['year','month','day']] = three_bed_value['date'].str.split('-', expand = True)
three_bed_value.head()

#convert date columns to datetime
three_bed_value['date']= pd.to_datetime(three_bed_value['date'])

#pick out specific time period
three_bed_value = three_bed_value.loc[three_bed_value['date']>='2018-03-31']

three_bed_value.head()

In [ ]:
#Rename columns
four_bed_value = four_bed_value.rename(columns = {'RegionName':'City','StateName':'State'})

#splitting up date
four_bed_value[['year','month','day']] = four_bed_value['date'].str.split('-', expand = True)
four_bed_value.head()

#convert date columns to datetime
four_bed_value['date']= pd.to_datetime(four_bed_value['date'])

#pick out specific time period
four_bed_value = four_bed_value.loc[four_bed_value['date']>='2018-03-31']

four_bed_value.head()

In [ ]:
#Rename columns
five_bed_value = five_bed_value.rename(columns = {'RegionName':'City','StateName':'State'})

#splitting up date
five_bed_value[['year','month','day']] = five_bed_value['date'].str.split('-', expand = True)
five_bed_value.head()

#convert date columns to datetime
five_bed_value['date']= pd.to_datetime(five_bed_value['date'])

#pick out specific time period
five_bed_value = five_bed_value.loc[five_bed_value['date']>='2018-03-31']

five_bed_value.head()

In [ ]:
one_bed_props = one_bed_value.loc[(one_bed_value['City']=='Atlanta, GA')|
                                    (one_bed_value['City']=='Nashville, TN')|
                                    (one_bed_value['City']=='Austin, TX')].reset_index(drop = True)
one_bed_props.head()

In [ ]:
two_bed_props = two_bed_value.loc[(two_bed_value['City']=='Atlanta, GA')|
                                    (two_bed_value['City']=='Nashville, TN')|
                                    (two_bed_value['City']=='Austin, TX')].reset_index(drop = True)
two_bed_props.head()

In [ ]:
three_bed_props = three_bed_value.loc[(three_bed_value['City']=='Atlanta, GA')|
                                    (three_bed_value['City']=='Nashville, TN')|
                                    (three_bed_value['City']=='Austin, TX')].reset_index(drop = True)
three_bed_props.head()

In [ ]:
four_bed_props = four_bed_value.loc[(four_bed_value['City']=='Atlanta, GA')|
                                    (four_bed_value['City']=='Nashville, TN')|
                                    (four_bed_value['City']=='Austin, TX')].reset_index(drop = True)
four_bed_props.head()

In [ ]:
five_bed_props = five_bed_value.loc[(five_bed_value['City']=='Atlanta, GA')|
                                    (five_bed_value['City']=='Nashville, TN')|
                                    (five_bed_value['City']=='Austin, TX')].reset_index(drop = True)
five_bed_props.head()

In [ ]:
#finding average monthly mortage cost
one_bed_props['down_payment'] = one_bed_props['1br_value']*.2
one_bed_props['mort_start'] = one_bed_props['1br_value']-one_bed_props['down_payment']
one_bed_props['monthly_mortgage'] = ((one_bed_props['mort_start']/30)/12).round(2)
one_bed_props.head()

In [ ]:
#finding average monthly mortage cost
two_bed_props['down_payment'] = two_bed_props['2br_value']*.2
two_bed_props['mort_start'] = two_bed_props['2br_value']-two_bed_props['down_payment']
two_bed_props['monthly_mortgage'] = ((two_bed_props['mort_start']/30)/12).round(2)
two_bed_props.head()

In [ ]:
#finding average monthly mortage cost
three_bed_props['down_payment'] = three_bed_props['3br_value']*.2
three_bed_props['mort_start'] = three_bed_props['3br_value']-three_bed_props['down_payment']
three_bed_props['monthly_mortgage'] = ((three_bed_props['mort_start']/30)/12).round(2)
three_bed_props.head()

In [ ]:
#finding average monthly mortage cost
four_bed_props['down_payment'] = four_bed_props['4br_value']*.2
four_bed_props['mort_start'] = four_bed_props['4br_value']-four_bed_props['down_payment']
four_bed_props['monthly_mortgage'] = ((four_bed_props['mort_start']/30)/12).round(2)
four_bed_props.head()

In [ ]:
#finding average monthly mortage cost
five_bed_props['down_payment'] = five_bed_props['5br_value']*.2
five_bed_props['mort_start'] = five_bed_props['5br_value']-five_bed_props['down_payment']
five_bed_props['monthly_mortgage'] = ((five_bed_props['mort_start']/30)/12).round(2)
five_bed_props.head()

In [ ]:
one_bed_props.to_csv('../data/cleaned/housing/one_bed_props.csv')

In [ ]:
two_bed_props.to_csv('../data/cleaned/housing/two_bed_props.csv')

In [ ]:
three_bed_props.to_csv('../data/cleaned/housing/three_bed_props.csv')

In [ ]:
four_bed_props.to_csv('../data/cleaned/housing/four_bed_props.csv')

In [ ]:
five_bed_props.to_csv('../data/cleaned/housing/five_bed_props.csv')