In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from datetime import datetime as dt
import plotly.express as px


%matplotlib inline

In [ ]:
#bringing in Atlanta unemployment rates
atl_unemp = pd.read_excel('../data/atl_unemp_rates.xlsx', header = [10] )
atl_unemp.head()

In [ ]:
#adding city column
atl_unemp['city'] = 'Atlanta'

#renaming period column to month
atl_unemp = atl_unemp.rename(columns = {'Period':'month'})

#reordering columns
atl_unemp = atl_unemp.loc[:,['Year', 'city', 'month', 'labor force', 'employment', 'unemployment','unemployment rate']]

atl_unemp.head()

In [ ]:
#bringing in Austin unemployment rates
austin_unemp = pd.read_excel('../data/austin_unemp_rate.xlsx', header = [10] )
austin_unemp.head()

In [ ]:
#adding city column
austin_unemp['city'] = 'Austin'

#renaming period column to month
austin_unemp = austin_unemp.rename(columns = {'Period':'month'})

#reordering columns
austin_unemp = austin_unemp.loc[:,['Year', 'city', 'month', 'labor force', 'employment', 'unemployment','unemployment rate']]

austin_unemp.head()

In [ ]:
#bringing in Nashville unemployment rates
nash_unemp = pd.read_excel('../data/nash_unemp_rate.xlsx', header = [10] )
nash_unemp.head()

In [ ]:
#adding city column
nash_unemp['city'] = 'Nashville'

#renaming period column to month
nash_unemp = nash_unemp.rename(columns = {'Period':'month'})

#reordering columns
nash_unemp = nash_unemp.loc[:,['Year', 'city', 'month', 'labor force', 'employment', 'unemployment','unemployment rate']]

nash_unemp.head()

In [ ]:
atl_unemp.to_csv('../data/cleaned/unemp/atl_unemp.csv', index = False)

In [ ]:
austin_unemp.to_csv('../data/cleaned/unemp/austin_unemp.csv', index = False)

In [ ]:
nash_unemp.to_csv('../data/cleaned/unemp/nash_unemp.csv', index = False)